<tr class="am-error-fields">
	<td style="width: 100%">
		<%= e.collection_select :report_error_category_id, ReportErrorCategory.all, :id, :name, {}, { :class => 'mws-select2 large', :style => "width: 280px" } %>
		<%= e.select :new_assessment, options_for_select(@assessment_options_with_blank, e.object.new_assessment||''), {}, { 'data-style' => report_assessment_class(e.object.new_assessment)||'', :class => 'selectpicker' }  %>
		<%= e.text_area :description, :style => 'width: 100%; height: 5em; margin-top: 4px;', :class => 'autosize' %>
		<%= e.hidden_field :old_assessment %>
		<%= e.hidden_field :report_item_id %>
	</td>
	<td style="width: 20px">
		<span class="btn-group">
			<%= link_to_remove_error_fields e %>
		</span>
	</td>
</tr>
