<%= form_for(@report_review) do |f| %>
  <% if @report_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_review.errors.count, "error") %> prohibited this report_review from being saved:</h2>

      <ul>
      <% @report_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  You shouldn't be here

<% end %>
