<%= form_for(@report_review, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= ReportReview.model_name.human %></span>
		</div>
		<div class="mws-panel-body no-padding">

			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @report_review } %>

				<div class="mws-form-row">
					<%= f.label :id, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= @report_review.id %>
					</div>
				</div>
				<div class="mws-form-row">
					<%= f.label :status, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.select :status, report_review_status_select_options(@report_review.status), {}, { :class => 'selectpicker' } %>
					</div>
				</div>
				<div class="mws-form-row">
					<%= f.label :reviewer_id, t('.reviewer'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.collection_select :reviewer_id, Employee.order(:lastname), :id, :fullname, {}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
				<div class="mws-form-row">
					<%= f.label :comments, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_area :comments, :class => 'large autosize' %>
					</div>
				</div>			
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
				
			</div>
		</div>
	</div>

	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= Report.model_name.human %></span>
		</div>
		<div class="mws-panel-body no-padding">
			<ul class="mws-summary clearfix">
				<li>
					<span class="key"><%= Report.human_attribute_name('id') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report_id %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Report.human_attribute_name('status') %></span>
					<span class="val">
						<span class="text-nowrap"><%= report_status_label(@report_review.report.status) %></span>
					</span>
				</li>
				<li>
					<span class="key"><% Report.human_attribute_name('inspection_date')%></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.inspection_date %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Program.model_name.human %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.scope.program.name %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Scope.model_name.human %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.scope.name %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= t('.inspector') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.employee.fullname %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Report.human_attribute_name('comments') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.comments %></span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= ReportItem.model_name.human(count: 2) %></span>
		</div>
		<div class="mws-panel-body no-padding">
			<table class="mws-table table">
				<thead>
					<tr>
						<th style="width: 40px"><%= Section.human_attribute_name('nr') %></th>
						<th width="110px"><%= ReportItem.human_attribute_name('assessment') %></th>
						<th><%= Section.model_name.human %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @report_review.report.report_items.joins(:section).includes(:section).order("seq_nr").each do |report_item| %>
					<tr>
						<td style="width: 40px">
							<%= report_item.section.nr %>
						</td>
						<td width="110px" class="<%= report_assessment_cell_class(report_item.assessment) %>">
							<%= @assessment_names[report_item.assessment] %>
						</td>
						<td>
							<% if !report_item.section.title.blank? %>
								<strong><%= report_item.section.title %></strong>
								<% if !report_item.section.text.blank? %>
									<br/>
								<% end %>
							<% end %>
							<%= report_item.section.text.html_safe %>
							<% if !report_item.comments.blank? %>
								<p class="am-comments-text"><span class="label label-inverse"><%= ReportItem.human_attribute_name('comments') %></span> <%= report_item.comments %></p>
							<% end %>
							<% if !report_item.section.instruction.blank? %>
								<div class="am-instruction"><div class="am-instruction-inner"><h3 class="am-instruction-title"><%= Section.human_attribute_name('instruction') %></h3><div class="am-instruction-content"><p><%= report_item.section.instruction.html_safe %></p></div></div></div>
							<% end %>
							
							<table>
								<tbody>
								<% report_item.attachments.each do |attachment| %>
									<tr>
										<td class="center"><%= link_to_attachment attachment %></td>
										<td><%= File.basename attachment.attachment_url %></td>
										<td><%= attachment.description %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
							
							<table class="report_errors" width="100%">
								<tbody>
									<% report_item.report_errors.where(:report_review_id => @report_review.id).each do |item_error| %>
										<%= f.fields_for :report_errors, item_error do |e| %>
											<%= render "error_fields", :e => e %>
										<% end %>
									<% end %>
								</tbody>
							</table>

						</td>
						<td width="20px">
							<span class="btn-group">
								<%= link_to_add_error_fields f, report_item, @report_review %>
								<% if !report_item.section.instruction.blank? %>
									<div class="btn btn-small am-btn-instruction"><i class='icon-comment-2'></i></div>
								<% end %>
							</span>
						</td>
					</tr>
					<% end %>			
				</tbody>
			</table>
		</div>
	</div>
	
	
<% end %>

<script type="text/javascript" charset="utf-8">

	$(function() {
		$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
	});

</script>
