<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ReportReview.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-body">
		<%= form_tag report_reviews_path, :method => 'get' do %>
			<%= text_field_tag :id, params[:id], :placeholder => ReportReview.human_attribute_name('id') %>
			<%= text_field_tag :report_id, params[:report_id], :placeholder => ReportReview.human_attribute_name('report_id') %>
			<%= select_tag :reviewer_id, options_from_collection_for_select(Employee.order("lastname"), "id", "lastname", params[:reviewer_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_reviewers') }  %>
			<%= select_tag :employee_id, options_from_collection_for_select(Employee.order("lastname"), "id", "lastname", params[:employee_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_inspectors') }  %>
			<%= select_tag :status, options_for_select(report_review_status_select_options_all, params[:status]), :include_blank => true, :class => "mws-select2", :style => "width: 140px", :data => { :placeholder => t('.all_statuses') }  %>
			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= report_reviews_url(format: "json", id: params[:id], report_id: params[:report_id], reviewer_id: params[:reviewer_id], employee_id: params[:employee_id], status: params[:status]) %>" data-sort-column="2" data-sort-direction="desc">
			<thead>
				<tr>
					<th style="width: 60px"><%= ReportReview.human_attribute_name('id') %></th>
					<th><%= ReportReview.human_attribute_name('status') %></th>
					<th><%= t('.review_date') %></th>
					<th><%= t('.reviewer') %></th>
					<th><%= Report.model_name.human %></th>
					<th><%= Report.human_attribute_name('inspection_date') %></th>
					<th><%= t('.inspector') %></th>
					<th><%= InspectionObject.model_name.human %></th>
					<th width="100px" class="no-sort"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
