	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= ReportReview.model_name.human %></span>
		</div>
		<div class="mws-panel-body no-padding">
			<ul class="mws-summary clearfix">
				<li>
					<span class="key"><%= ReportReview.human_attribute_name('id') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.id %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= ReportReview.human_attribute_name('status') %></span>
					<span class="val">
						<span class="text-nowrap"><%= report_review_status_label(@report_review.status) %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= t('.reviewer') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.employee.fullname %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= ReportReview.human_attribute_name('comments')%></span>
					<span class="val">
						<%= @report_review.comments %>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= Report.model_name.human %></span>
		</div>
		<div class="mws-panel-body no-padding">
			<ul class="mws-summary clearfix">
				<li>
					<span class="key"><%= Report.human_attribute_name('id') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report_id %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Report.human_attribute_name('status') %></span>
					<span class="val">
						<span class="text-nowrap"><%= report_status_label(@report_review.report.status) %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Report.human_attribute_name('inspection_date') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.inspection_date %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Program.model_name.human %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.scope.program.name %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Scope.model_name.human %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.scope.name %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= t('.inspector') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.employee.fullname %></span>
					</span>
				</li>
				<li>
					<span class="key"><%= Report.human_attribute_name('comments') %></span>
					<span class="val">
						<span class="text-nowrap"><%= @report_review.report.comments %></span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= ReportItem.model_name.human(count: 2)%></span>
		</div>
		<div class="mws-panel-body no-padding">
			<table class="mws-table table">
				<thead>
					<tr>
						<th width="80px"><%= Section.human_attribute_name('nr') %></th>
						<th width="120px"><%= ReportItem.human_attribute_name('assessment') %></th>
						<th><%= Section.model_name.human %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @report_review.report.report_items.joins(:section).includes(:section).order("seq_nr").each do |item| %>
					<tr>
						<td width="80px">
							<%= item.section.nr %>
						</td>
						<td width="110px" class="<%= report_assessment_cell_class(item.assessment) %>">
							<%= @assessment_names[item.assessment] %>
						</td>
						<td>
							<% if !item.section.title.blank? %>
								<strong><%= item.section.title %></strong>
								<% if !item.section.text.blank? %>
									<br/>
								<% end %>
							<% end %>
							<%= item.section.text.html_safe %>
							<% if !item.comments.blank? %>
								<p class="am-comments-text"><span class="label label-inverse"><%= ReportItem.human_attribute_name('comments') %></span> <%= item.comments %></p>
							<% end %>
							<% if !item.section.instruction.blank? %>
								<div class="am-instruction"><div class="am-instruction-inner"><h3 class="am-instruction-title"><%= Section.human_attribute_name('instruction')%></h3><div class="am-instruction-content"><p><%= item.section.instruction.html_safe %></p></div></div></div>
							<% end %>
							
							<table>
								<tbody>
								<% item.attachments.each do |attachment| %>
									<tr>
										<td class="center"><%= link_to_attachment attachment %></td>
										<td><%= File.basename attachment.attachment_url %></td>
										<td><%= attachment.description %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
									<% item.report_errors.where(:report_review_id => @report_review.id).each do |e| %>
										<div class="am-findings">
											<div class="am-findings-inner">
												<h3 class="am-findings-title">
													<i class="icon-warning-sign" style="color: #b94a48; font-size: 16pt"></i> <%= e.report_error_category.name %>
												</h3>
												<div class="am-findings-content">
													<p>
														<% if !e.new_assessment.blank? %>
														<span class="<%= report_assessment_cell_class(e.new_assessment) %>" style="padding: 4px 8px 4px 8px; margin-right: 8px;"><%= @assessment_names[e.new_assessment] %></span>
														<% end %>
														<%= e.description %>
													</p>
												</div>
											</div>
										</div>
									<% end %>
						</td>
						<td width="20px">
							<span class="btn-group">
								<% if !item.section.instruction.blank? %>
									<div class="btn btn-small am-btn-instruction"><i class='icon-comment-2'></i></div>
								<% end %>
							</span>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
	<script type="text/javascript" charset="utf-8">

		$(function() {
			$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
		});

	</script>
