<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), inspection_object_url(@participation.inspection_object_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for([@inspection_object, @participation], :html => { :class => 'mws-form' }) do |f| %>
			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @participation } %>

				<div class="mws-form-row">
					<%= f.label :scope_id, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.grouped_collection_select :scope_id, Program.all, :scopes, :name, :id, :name, {}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
				<div class="mws-form-row">
					<%= f.label :start_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :start_date, :class => 'mws-datepicker' %>
					</div>
				</div>
				<div class="mws-form-row">
					<%= f.label :end_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :end_date, :class => 'mws-datepicker' %>
					</div>
				</div>
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>		
		<% end %>
	</div>
</div>
