<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), program_url(@program_assessment.program_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for(@program_assessment, :html => { :class => 'mws-form'}) do |f| %>
			<div class="mws-form-inline">
				<% if @program_assessment.errors.any? %>
		    	<div class="mws-form-message error">
						<%= pluralize(@program_assessment.errors.count, "error") %> prohibited this assessment from being saved:
						<ul>
						<% @program_assessment.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>		
				<% end %>

				<div class="mws-form-row">
					<%= f.label :default_name, t('.default_name'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :default_name, :class => 'medium', :readonly => true, :disabled => true, :value => @program_assessment.assessment.name %>
					</div>
				</div>
	
				<div class="mws-form-row">
					<%= f.label :name, t('.alternate_name'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :name, :class => 'medium' %>
					</div>
				</div>

				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
