<%= form_for(@employee, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @employee } %>
		
		<div class="mws-form-row">
			<%= f.label :lastname, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :lastname, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :firstname, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :firstname, :class => 'medium' %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :company_id, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.collection_select :company_id, Company.all, :id, :name, { :include_blank => true }, { :class => 'mws-select2 small' } %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :position_id, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.collection_select :position_id, Position.all, :id, :name, { :include_blank => true }, { :class => 'mws-select2 small' } %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :employment_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :employment_date, :class => 'mws-datepicker' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :employment_end_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :employment_end_date, :class => 'mws-datepicker' %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :address, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :address, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :postcode, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :postcode, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :city, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :city, :class => 'medium' %>
			</div>
		</div>
	
		<div class="mws-form-row">
			<%= f.label :state, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :state, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :country, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.country_select :country, {include_blank: true}, { :class => 'mws-select2 small' } %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :phone1, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :phone1, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :phone2, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :phone2, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :email, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.email_field :email, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :birthdate, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :birthdate, :class => 'mws-datepicker' %>
			</div>
		</div>
		
		<% if !@employee.image_url.nil? %>
			<div class="mws-form-row">
				<div class="mws-form-item">
					<%= image_tag @employee.image_url(:thumb).to_s, :class => "img-polaroid" %><br/>
				</div>
			</div>
			<div class="mws-form-row">
				<label class="mws-form-label"><%= t('form.delete_image') %></label>
				<div class="mws-form-item">
					<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
				</div>
			</div>
		<% end %>

		<div class="mws-form-row">
			<%= f.label :image, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :image %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :notes, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :notes, :class => 'tinymce autosize' %>
			</div>
		</div>
		
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

<%= tinymce :language => I18n.locale %>
