<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Employee.model_name.human(count: 2) %></span>
	</div>

	<% if policy(Employee).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_employee_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= employees_url(format: "json") %>" data-sort-column="1" data-sort-direction="asc">
			<thead>
				<tr>
					<th class="no-sort center"><%= Employee.human_attribute_name('image') %></th>
					<th><%= Employee.human_attribute_name('fullname') %></th>
					<th><%= Position.model_name.human %></th>
					<th><%= Employee.human_attribute_name('phone1') %></th>
					<th><%= Employee.human_attribute_name('email') %></th>
					<th><%= Employee.human_attribute_name('city') %></th>
					<th><%= Employee.human_attribute_name('country') %></th>
					<th class="no-sort" width="100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
