<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= Employee.model_name.human %></span>
	</div>
	
	<% if policy(@employee).edit? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_employee_path(@employee), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="mws-panel-body">
  		<table width="100%">
  			<td width="80%" valign="top">
				<h3><%= @employee.fullname %></h3>
				<div class="am-show-table">
					<table width="80%">
						<tbody>
							<tr><td><%= Position.model_name.human %></td><td><%= @employee.position.name unless @employee.position.nil? %></td></tr>
							<tr><td><%= Employee.human_attribute_name('address') %></td>
								<td>
									<%= @employee.address %> <br/>
									<%= @employee.postcode %> <%= @employee.city %><br/>
									<%= @employee.state %><br/>
									<%= country_name(@employee.country) %>
								</td>
							</tr>
							<tr><td><i class="icon-phone"></i></td><td><%= @employee.phone1 %></td></tr>
							<tr><td><i class="icon-mobile-phone"></i></td><td><%= @employee.phone2 %></td>
							<tr><td><i class="icon-envelope"></i></td><td><%= mail_to @employee.email %></td>
							<tr><td><%= Employee.human_attribute_name('notes') %></td><td><%= @employee.notes.html_safe unless @employee.notes.nil? %></td></tr>
						</tbody>
					</table>
				</div>				
			</td>
			<td valign="top">
				<% if !@employee.image_url.nil? %>
					<%= image_tag @employee.image_url(:thumb).to_s, :class => "img-polaroid"  %>
				<% end %>
			</td>
		</table>
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.statistics') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-briefcase"></i> <%= Employee.human_attribute_name('employment_date') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @employee.employment_date ? l(@employee.employment_date) : "" %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-gift"></i> <%= Employee.human_attribute_name('birthdate') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @employee.birthdate ? l(@employee.birthdate) : "" %></span>
				</span>
			</li>
		</ul>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Equipment.model_name.human %></span>
	</div>
	
	<% if policy(Equipment).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_employee_equipment_path(@employee), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= EquipmentType.human_attribute_name('image') %></th>
					<th><%= EquipmentType.human_attribute_name('name') %></th>
					<th><%= EquipmentType.human_attribute_name('model') %></th>
					<th><%= Equipment.human_attribute_name('nr') %></th>
					<th><%= Equipment.human_attribute_name('serial_nr') %></th>
					<th><%= Equipment.human_attribute_name('usage') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @employee.equipment.each do |equipment| %>
				<tr>
					<td align="center"><% if !equipment.equipment_type.image_url.nil? %><%= link_to image_tag(equipment.equipment_type.image_url(:thumb).to_s, :class => 'img-polaroid', :size => "100x60"), equipment.equipment_type %><%end %></td>
					<td><%= equipment.equipment_type.name %></td>
					<td><%= equipment.equipment_type.model %></td>
					<td><%= equipment.nr %></td>
					<td><%= equipment.serial_nr %></td>
					<td><%= equipment_usage_label(equipment.usage) %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), equipment, { :class => 'btn btn-small' } %>
							<% if policy(equipment).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_equipment_path(equipment), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(equipment).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), equipment, method: :delete, data: { confirm: 'form.confirm_delete' }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
