<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Position.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Position).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_position_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Position.human_attribute_name('name') %></th>
					<th><%= Position.human_attribute_name('description') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @positions.each do |position| %>
				<tr>
					<td><%= position.name %></td>
					<td><%= position.description %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), position, { :class => 'btn btn-small' } %>
							<% if policy(position).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_position_path(position), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(position).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), position, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
