<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= Position.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@position).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_position_path(@position), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), positions_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<h3><%= @position.name %></h3>
		<div class="am-show-table">
			<table width="80%">
				<tbody>
					<tr>
						<td><%= Position.human_attribute_name('description') %></td>
						<td>
							<%= @position.description %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>
