<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-list-2"></i> <%= InspectionObject.model_name.human(count: 2) %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= InspectionObject.human_attribute_name('nr') %></th>
					<th><%= InspectionObject.human_attribute_name('name') %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @inspection_objects.each do |inspection_object| %>
				<tr>
					<td>
						<%= inspection_object.nr %>
					</td>
					<td>
						<%= inspection_object.name %>
					</td>
					<td width="30px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), client_object_path(inspection_object), { :class => 'btn btn-small' } %>
						</span>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

