<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= InspectionObject.model_name.human %></span>
	</div>
	<div class="mws-panel-body">
		<h3><%= @inspection_object.name %></h3>
		<div class="am-show-table">
			<table width="80%">
				<tbody>
					<tr>
						<td><%= InspectionObject.human_attribute_name('nr') %></td><td><%= @inspection_object.nr %></td>
					</tr>
					<tr><td><%= t('.address') %></td>
						<td>
							<%= @inspection_object.address %> <br/>
							<%= @inspection_object.postalcode %> <%= @inspection_object.city %><br/>
							<%= @inspection_object.state %><br/>
							<%= @inspection_object.country %>
						</td>
					</tr>
					<tr>
						<td><%= InspectionObject.human_attribute_name('description') %></td><td><%= @inspection_object.description %></td>
					</tr>
				</tbody>
			</table>
		</div>													
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.statistics') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-calendar"></i> <%= t('.last_inspection_date') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @inspection_object.last_inspection_date %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-list-2"></i> <%= t('.nr_reports') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @inspection_object.nr_reports %></span>
				</span>
			</li>
		</ul>
	</div>
</div>