<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.edit_profile')%></span>
	</div>
	<div class="mws-panel-body no-padding">

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'mws-form', :method => :put  }) do |f| %>
			<div class="mws-form-inline">
				<% if resource.errors.any? %>
		    	<div class="mws-form-message error">
						<%= pluralize(resource.errors.count, "error") %> prohibited this program from being saved:
						<ul>
						<% resource.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>		
				<% end %>
					
				<div class="mws-form-cols clearfix">
		
					<div class="mws-form-row">
						<%= f.label :email, t('.email'), :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.text_field :email %>
						</div>
					</div>
			
					<div class="mws-form-row">
						<%= f.label :password, t('.password'), :class => 'mws-form-label' %><i><%= t('.password_hint') %></i>
						<div class="mws-form-item">
							<%= f.password_field :password, :autocomplete => "off" %>
						</div>
					</div>
			
					<div class="mws-form-row">
						<%= f.label :password_confirmation, t('.password_confirmation'), :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.password_field :password_confirmation %>
						</div>
					</div>
			
					<div class="mws-form-row">
						<%= f.label :current_password, t('.current_password'), :class => 'mws-form-label' %><i><%= t('.current_password_hint') %></i>
						<div class="mws-form-item">
							<%= f.password_field :current_password %>
						</div>
					</div>
						
				</div>
		
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
					
			</div>
		<% end %>

	</div>
</div>