<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Nieuwe gebruiker</span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> Overzicht"), users_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for(@resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'mws-form' }) do |f| %>
			<div class="mws-form-inline">
				<%= devise_error_messages! %>

				<div class="mws-form-row">
					<%= f.label :email, "Email", :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.email_field :email, :class => 'medium' %>
					</div>
				</div>

				<div class="mws-form-row">
					<%= f.label :password, "Password", :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.password_field :password, :class => 'medium' %>
					</div>
				</div>

				<div class="mws-form-row">
					<%= f.label :password_confirmation, "Bevestig password", :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.password_field :password_confirmation, :class => 'medium' %>
					</div>
				</div>
				
				<div class="mws-button-row">
					<%= f.submit :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
