<%= form_for([@calibration_method, @manual], :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @manual } %>

		<div class="mws-form-row">
			<%= f.label :manual, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :manual %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :start_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :start_date, :class => 'mws-datepicker' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :end_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :end_date, :class => 'mws-datepicker' %>
			</div>
		</div>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

