<%= form_for(@inspection_object, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @inspection_object } %>
		
		<fieldset class="mws-form-inline">
    		<legend><%= t('.general') %></legend>

			<div class="mws-form-row">
				<%= f.label :nr, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :nr %>
				</div>
			</div>
	
			<div class="mws-form-row">
				<%= f.label :name, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :name, :class => 'medium' %>
				</div>
			</div>
	
			<div class="mws-form-row">
				<%= f.label :description, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_area :description, :class => 'tinymce autosize' %>
				</div>
			</div>
			
			<div class="mws-form-row">
				<%= f.label :client_id, Client.model_name.human, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.collection_select :client_id, Client.order('name'), :id, :name, {:include_blank => true}, { :class => 'mws-select2 small' } %>
				</div>
			</div>
			
		</fieldset>

		<fieldset class="mws-form-inline">
    		<legend><%= t('.address') %></legend>

			<div class="mws-form-row">
				<%= f.label :address, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :address, :class => 'medium' %>
				</div>
			</div>					
			<div class="mws-form-row">
				<%= f.label :postalcode, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :postalcode, :class => 'medium' %>
				</div>
			</div>					
			<div class="mws-form-row">
				<%= f.label :city, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :city, :class => 'medium' %>
				</div>
			</div>					
			<div class="mws-form-row">
				<%= f.label :state, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :state, :class => 'medium' %>
				</div>
			</div>
			<div class="mws-form-row">
				<%= f.label :country, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.country_select :country, {include_blank: true}, { :class => 'mws-select2 medium' } %>
				</div>
			</div>			
			<div class="mws-form-row">
				<%= f.label :latitude, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :latitude, :readonly => true %>
				</div>
			</div>
			<div class="mws-form-row">			
				<%= f.label :longitude, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :longitude, :readonly => true %>
				</div>
			</div>
		</fieldset>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
		
	</div>
<% end %>

<%= tinymce :language => I18n.locale %>
