<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.edit_inspection_object') %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-magnifier'></i> "+t('form.show')), @inspection_object, { :class => "btn" } %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), inspection_objects_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= render 'form' %>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ObjectAttachment.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="#" id="mws-jui-dialog-btn" class="btn"><i class='icol-add'></i> <%= t('form.add') %></a>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<table id="attachment-table" class="mws-table">
			<thead>
				<tr>
					<th class="center"></th>
					<th><%= ObjectAttachment.human_attribute_name('attachment') %></th>
					<th><%= ObjectAttachment.human_attribute_name('description') %></th>
					<th width="70px"></th>
				</tr>
			</thead>
			<tbody>
			<%= render :partial => 'object_attachments/attachment', :collection => @inspection_object.object_attachments, :as => :attachment %>
			</tbody>
		</table>
	</div>
</div>

<div id="mws-jui-dialog" style="padding: 0 0; display: none">
	<div id="uploader">
		<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		
        if( $.fn.dialog ) {
            $("#mws-jui-dialog").dialog({
                autoOpen: false,
                title: "Attachments uploaden",
                modal: true,
                width: "640",
                buttons: [{
                    text: "Annuleren",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
            $("#mws-jui-dialog-btn").bind("click", function (event) {
                $("#mws-jui-dialog").dialog("option", {
                    modal: false
                }).dialog("open");
                event.preventDefault();
            });
		};
		
		$('.delete-attachment').bind('ajax:success', function() { 
    		$(this).closest('tr').remove();  
		});
		
		$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
		
        if( $.fn.pluploadQueue ) {
            $("#uploader").pluploadQueue({
                // General settings
                runtimes: 'html5, html4',
                url: '<%= inspection_object_object_attachments_path(@inspection_object) %>',
                max_file_size: '1000mb',
                max_file_count: 20, // user can add no more then 20 files at a time
                chunk_size: '1mb',
                unique_names: true,
                multiple_queues: true,
                multipart: true,
                multipart_params: {
         			"authenticity_token" : '<%= form_authenticity_token %>'
        		},

                // Resize images on clientside if we can
                resize: {
                    width: 320,
                    height: 240,
                    quality: 90
                },

                // Rename files by clicking on their titles
                rename: true,

                // Sort files
                sortable: true,

                // Specify what files to browse for
                filters: [{
                    title: "Afbeeldingen",
                    extensions: "jpg,gif,png,pdf,docx"
                },{
                    title: "Alle typen",
                    extensions: "*"
                }],

                init: {
                	FileUploaded: function(up, file, info) {
						$("#attachment-table tbody").append(info['response']);
						$('.delete-attachment').bind('ajax:success', function() {
    						$(this).closest('tr').remove();  
						});
						$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
						$(".best_in_place").best_in_place();
					}
            	}
            });

        }
	});
</script>

