<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= InspectionObject.model_name.human(count: 2) %></span>
	</div>

	<% if policy(InspectionObject).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_inspection_object_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body">
		<%= form_tag inspection_objects_path, :method => 'get' do %>
			<%= text_field_tag :nr, params[:nr], :placeholder => InspectionObject.human_attribute_name('nr') %>
			<%= text_field_tag :name, params[:name], :placeholder => InspectionObject.human_attribute_name('name') %>
			<%= select_tag :client_id, options_from_collection_for_select(Client.all, "id", "name", params[:client_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_clients') }  %>
			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= inspection_objects_url(format: "json", nr: params[:nr], name: params[:name], client_id: params[:client_id]) %>" data-sort-column="0" data-sort-direction="asc">
			<thead>
				<tr>
					<th><%= InspectionObject.human_attribute_name('nr') %></th>
					<th><%= InspectionObject.human_attribute_name('name') %></th>
					<th><%= Client.model_name.human %></th>
					<th width="100px" class="no-sort"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
