<% content_for :javascript_includes do %>
    <script src="https://www.google.com/jsapi"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<%= javascript_include_tag "plugins/map/jquery.ui.map" %>
	<%= javascript_include_tag "plugins/map/jquery.ui.map.services" %>
	<%= javascript_include_tag "plugins/map/jquery.ui.map.extensions" %>
<% end %>

<%= content_tag "div", id: "objectlocation", data: {latitude: @inspection_object.latitude, longitude: @inspection_object.longitude} do %>
<% end %>

<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= InspectionObject.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@inspection_object).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_inspection_object_path(@inspection_object), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), inspection_objects_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<h3><%= @inspection_object.name %></h3>
		<div class="am-show-table">
			<table width="80%">
				<tbody>
					<tr>
						<td><%= InspectionObject.human_attribute_name('nr') %></td><td><%= @inspection_object.nr %></td>
					</tr>
					<tr><td><%= t('.address') %></td>
						<td>
							<%= @inspection_object.address %> <br/>
							<%= @inspection_object.postalcode %> <%= @inspection_object.city %><br/>
							<%= @inspection_object.state %><br/>
							<%= country_name(@inspection_object.country) %>
						</td>
					</tr>
					<tr>
						<td><%= InspectionObject.human_attribute_name('description') %></td><td><%= @inspection_object.description.html_safe unless @inspection_object.description.nil? %></td>
					</tr>
				</tbody>
			</table>
		</div>													
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.statistics') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-calendar"></i> <%= t('.last_inspection') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @inspection_object.last_inspection_date %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-list-2"></i> <%= t('.nr_inspections') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @inspection_object.nr_reports %></span>
				</span>
			</li>
		</ul>
	</div>
</div>

<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ObjectParameter.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(ObjectParameter).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_inspection_object_object_parameter_path(@inspection_object), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= ObjectParameter.human_attribute_name('name') %></th>
					<th><%= ObjectParameter.human_attribute_name('value') %></th>
					<th width="70px"></th>
				</tr>
			</thead>
			<tbody>
			<% @inspection_object.object_parameters.each do |parameter| %>
				<tr>
					<td><%= parameter.name %></td>
					<td><%= parameter.value %></td>
					<td width="70px">
						<span class="btn-group">
							<% if policy(parameter).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_object_parameter_path(parameter), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(parameter).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), parameter, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ObjectAttachment.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<table id="attachment-table" class="mws-table">
			<thead>
				<tr>
					<th></th>
					<th><%= ObjectAttachment.human_attribute_name('name') %></th>
				</tr>
			</thead>
			<tbody>
			<% @inspection_object.object_attachments.each do |attachment| %>
				<tr>
					<td class="center"><div rel="tooltip" data-placement="top" title="<%= attachment.description %>"><%= link_to_attachment attachment %></div></td>
					<td><%= File.basename attachment.attachment_url %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Participation.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Participation).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_inspection_object_participation_path(@inspection_object), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Program.model_name.human %></th>
					<th><%= Scope.model_name.human %></th>
					<th><%= Participation.human_attribute_name('start_date') %></th>
					<th><%= Participation.human_attribute_name('end_date') %></th>
					<th width="70px"></th>
				</tr>
			</thead>
			<tbody>
			<% @inspection_object.participations.each do |participation| %>
				<tr>
					<td><%= participation.scope.program.name %></td>
					<td><%= participation.scope.name %></td>
					<td><%= participation.start_date %></td>
					<td><%= participation.end_date %></td>
					<td width="70px">
						<span class="btn-group">
							<% if policy(participation).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_participation_path(participation), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(participation).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), participation, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.map') %></span>
	</div>

	<div class="mws-panel-body gmap no-padding">
		<div id="map_canvas" style="height: 400px;"></div>
	</div>
</div>

<%= javascript_tag do %>

$(window).load(function() {

	if ($.fn.gmap) {
        function getLatLng() {
                /*
                if ( google && google.loader && google.loader.ClientLocation != null )
                	return new google.maps.LatLng(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);   
                */
                return new google.maps.LatLng( $('#objectlocation').data('latitude'), $('#objectlocation').data('longitude') );
        }

	    $('#map_canvas').gmap({
	    	'center': getLatLng(), 
	    	zoom: 15,
	    	panControl: true,
	    	scaleControl: true,
	    	streetViewControl: true,
	    	zoomControl: true
	    });
			
		pos = $('#objectlocation').data('latitude') + ',' + $('#objectlocation').data('longitude');
		
		$('#map_canvas').gmap('addMarker', {'position': pos, 'bounds': false});
	
	}
});
	
<% end %>

<script type="text/javascript" charset="utf-8">

	$(function() {
		$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
	});

</script>
