<%= form_for(@complaint, :html => { :class => 'mws-form'}) do |f| %>
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to(raw("<i class='icol-magnifier'></i> "+t('form.show')), @complaint, { :class => "btn" }) unless @complaint.new_record? %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), complaints_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">

		<div class="mws-form-block">
			<%= render partial: 'shared/errors', locals: { object: @complaint } %>
			
			<div class="mws-form-row">
				<div class="mws-form-cols">
					<div class="mws-form-col-1-8">
						<%= f.label :complaint_type, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.select :complaint_type, complaint_type_select_options, {}, { :class => 'selectpicker medium' } %>
						</div>
					</div>
					<div class="mws-form-col-1-8">
						<%= f.label :received_date, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.text_field :received_date, :class => 'mws-datepicker' %>
						</div>
					</div>
					<div class="mws-form-col-1-8">
						<%= f.label :priority, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.select :priority, complaint_priority_select_options, {}, { :class => 'selectpicker medium'} %>
						</div>
					</div>
					<div class="mws-form-col-1-8">
						<%= f.label :planned_handled_date, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.text_field :planned_handled_date, :class => 'mws-datepicker' %>
						</div>
					</div>
					<% if !@complaint.new_record? %>			
					<div class="mws-form-col-1-8">
						<%= f.label :handled_date, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.text_field :handled_date, :class => 'mws-datepicker' %>
						</div>
					</div>
					<% end %>
					<% if !@complaint.new_record? %>
					<div class="mws-form-col-1-8">
						<%= f.label :status, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.select :status, complaint_status_select_options(@complaint.status), {}, { :class => 'selectpicker' } %>
						</div>
					</div>
					<% end %>
				</div>
			</div>		

			<div class="mws-form-row">
				<div class="mws-form-cols">
					<div class="mws-form-col-4-8">
						<%= f.label :assigned_to_id, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.collection_select :assigned_to_id, Employee.order(:lastname), :id, :fullname, {:include_blank => true}, { :class => 'mws-select2' } %>
						</div>
					</div>
					<div class="mws-form-col-4-8">
						<%= f.label :owner_id, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.collection_select :owner_id, Employee.order(:lastname), :id, :fullname, {:include_blank => true}, { :class => 'mws-select2' } %>
						</div>
					</div>
				</div>
			</div>	

			<fieldset class="mws-form-inline">
	    		<legend><%= t('.complainant') %></legend>	
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-4-8">
							<%= f.label :complainant_name, t('.name'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_name, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-4-8">
							<%= f.label :complainant_address, t('.address'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_address, :class => 'medium' %>
							</div>
						</div>
					</div>
				</div>
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_postalcode, t('.postcode'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_postalcode, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_city, t('.city'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_city, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_state, t('.state'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_state, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_country, t('.country'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.country_select :complainant_country, {include_blank: true}, { :class => 'mws-select2' } %>
							</div>
						</div>
					</div>
				</div>
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_phone1, t('.phone1'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_phone1, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-2-8">
							<%= f.label :complainant_phone2, t('.phone2'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_phone2, :class => 'medium' %>
							</div>
						</div>
						<div class="mws-form-col-4-8">
							<%= f.label :complainant_email, t('.email'), :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :complainant_email, :class => 'medium' %>
							</div>
						</div>
					</div>
				</div>
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-4-8">
							<%= f.label :complainant_employee_id, Employee.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.collection_select :complainant_employee_id, Employee.order(:lastname), :id, :fullname, {:include_blank => true}, { :class => 'mws-select2' } %>
							</div>
						</div>
						<div class="mws-form-col-4-8">
							<%= f.label :complainant_client_id, Client.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.collection_select :complainant_client_id, Client.order('name'), :id, :name, {:include_blank => true}, { :class => 'mws-select2' } %>
							</div>
						</div>
					</div>
				</div>		
			</fieldset>

			<fieldset class="mws-form-inline">
	    		<legend><%= t('.relates_to') %></legend>
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-4-8">
							<%= f.label :inspection_object_nr, InspectionObject.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :inspection_object_nr, { :class => 'mws-select-ajax', :data  => { :source => inspection_objects_url(format: "json"), :placeholder => t('.select_object') } } %>
							</div>
						</div>
						<div class="mws-form-col-4-8">
							<%= f.label :report_id, Report.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.text_field :report_id, :class => 'medium' %>
							</div>
						</div>
					</div>
				</div>
				<div class="mws-form-row">
					<div class="mws-form-cols">
						<div class="mws-form-col-4-8">
							<%= f.label :client_id, Client.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.collection_select :client_id, Client.order('name'), :id, :name, {:include_blank => true}, { :class => 'mws-select2' } %>
							</div>
						</div>
						<div class="mws-form-col-4-8">
							<%= f.label :employee_id, Employee.model_name.human, :class => 'mws-form-label' %>
							<div class="mws-form-item">
								<%= f.collection_select :employee_id, Employee.order(:lastname), :id, :fullname, {:include_blank => true}, { :class => 'mws-select2' } %>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<% if @complaint.new_record? %>
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= Complaint.model_name.human %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<div class="mws-form-row">
			<div class="mws-form-item">
				<%= f.text_area :complaint, :class => 'tinymce autosize' %>
			</div>
		</div>
	</div>
</div>
<% else %>
<div class="mws-panel grid_8">
	<div class="mws-tabs">
        <ul>
            <li><a href="#tab-complaint"><%= t('.complaint') %></a></li>
            <li><a href="#tab-cause"><%= t('.cause') %></a></li>
            <li><a href="#tab-impact"><%= t('.scope') %></a></li>
            <li><a href="#tab-resolution"><%= t('.solution') %></a></li>
        </ul>
		
        <div id="tab-complaint">
			<%= f.text_area :complaint, :class => 'tinymce autosize' %>
        </div>
        <div id="tab-cause">
			<%= f.text_area :cause, :class => 'tinymce autosize' %>
        </div>
        <div id="tab-impact">
			<%= f.text_area :impact, :class => 'tinymce autosize' %>
        </div>
        <div id="tab-resolution">
			<%= f.text_area :resolution, :class => 'tinymce autosize' %>
        </div>
	</div>
</div>
<% end %>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.action') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<div class="mws-form-row">
			<div class="mws-form-item">
				<%= f.text_area :action, :class => 'tinymce autosize' %>
			</div>
		</div>
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
</div>


<% if !@complaint.new_record? %>
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.actions') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table" width="100%">
			<thead>
				<tr>
					<th><%= t('.action_status') %></th>
					<th style="width:60%"><%= t('.action_notes') %></th>
					<th><%= t('.action_modified_by') %></th>
					<th><%= t('.action_modified_at') %></th>
				</tr>
			</thead>
			<tbody>
				<% @complaint.complaint_actions.order('created_at desc').each do |action| %>
				<tr>
					<td><%= complaint_status_span(action.complaint_status_new) %></td>
					<td><%= !action.action.nil? ? action.action.html_safe : "" %></td>
					<td><%= action.user.display_name %></td>
					<td><%= action.created_at %></td>
				<tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>

<% end %>

<%= tinymce :language => I18n.locale %>
