<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Complaint.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Complaint).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_complaint_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="mws-panel-body">
		<%= form_tag complaints_path, :method => 'get' do %>
			<%= text_field_tag :id, params[:id], :placeholder => Complaint.human_attribute_name('id') %>
			<%= select_tag :complaint_type, options_for_select(complaint_type_select_options, params[:complaint_type]), :include_blank => true, :class => "mws-select2", :style => "width: 120px", :data => { :placeholder => t('.all_types') }  %>
			<%= select_tag :priority, options_for_select(complaint_priority_select_options, params[:priority]), :include_blank => true, :class => "mws-select2", :style => "width: 140px", :data => { :placeholder => t('.all_priorities') }  %>
			<%= select_tag :status, options_for_select(complaint_status_select_options_all, params[:status]), :include_blank => true, :class => "mws-select2", :style => "width: 140px", :data => { :placeholder => t('.all_statuses') }  %>
			<%= select_tag :assigned_to_id, options_from_collection_for_select(Employee.order("lastname"), "id", "fullname", params[:assigned_to_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.assigned_to') }  %>
			<%= select_tag :owner_id, options_from_collection_for_select(Employee.order("lastname"), "id", "fullname", params[:owner_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.owner') }  %>
			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>
	
	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= complaints_url(format: "json", id: params[:id], complaint_type: params[:complaint_type], priority: params[:priority], status: params[:status], assigned_to_id: params[:assigned_to_id], owner_id: params[:owner_id]) %>" data-sort-column="2" data-sort-direction="desc">
			<thead>
				<tr>
					<th><%= Complaint.human_attribute_name('id') %></th>
					<th><%= Complaint.human_attribute_name('complaint_type') %></th>
					<th><%= Complaint.human_attribute_name('received_date') %></th>
					<th><%= Complaint.human_attribute_name('priority') %></th>
					<th><%= Complaint.human_attribute_name('planned_handled_date') %></th>
					<th><%= Complaint.human_attribute_name('handled_date') %></th>
					<th><%= Complaint.human_attribute_name('status') %></th>
				    <th><%= t('.assigned_to') %></th>
				    <th><%= t('.owner') %></th>
					<th width="100px" class="no-sort"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

</div>
