<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= Complaint.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@complaint).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_complaint_path(@complaint), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), complaints_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<div class="am-show-table">
			<table width="100%">
				<tbody>
					<tr><td><%= Complaint.human_attribute_name('id') %></td><td><%= @complaint.id %></td>
					<tr><td><%= Complaint.human_attribute_name('complaint_type') %></td><td><%= Complaint.complaint_type_description(@complaint.complaint_type) %></td>
					<tr><td><%= Complaint.human_attribute_name('received_date') %></td><td><%= @complaint.received_date %></td>
					<tr><td><%= Complaint.human_attribute_name('priority') %></td><td><%= complaint_priority_span(@complaint.priority) %></td>
					</tr>
					<% if !@complaint.complainant_name.empty? %>
					<tr><td><%= t('.complainant') %></td>
						<td>
							<%= @complaint.complainant_name %> <br/>
							<%= @complaint.complainant_address %> <br/>
							<%= @complaint.complainant_postalcode %> <%= @complaint.complainant_city %><br/>
							<%= @complaint.complainant_state %><br/>
							<%= country_name(@complaint.complainant_country) %><br/>
							<i class="icon-phone"></i> <%= @complaint.complainant_phone1 %><br/>
							<i class="icon-mobile-phone"></i> <%= @complaint.complainant_phone2 %><br/>
							<i class="icon-envelope"></i> <%= mail_to @complaint.complainant_email %><br/>
						</td>
					</tr>
					<% end %>
					<% if !@complaint.complainant_employee.nil? %>
					<tr>
						<td><%= t('.complainant_employee') %></td><td><%= link_to @complaint.complainant_employee.fullname, @complaint.complainant_employee %></td>
					</tr>
					<% end %>
					<% if !@complaint.complainant_client.nil? %>
					<tr>
						<td><%= t('.complainant_client') %></td><td><%= link_to @complaint.complainant_client.name, @complaint.complainant_client %></td>
					</tr>
					<% end %>
					<% if !@complaint.inspection_object.nil? %>
					<tr><td><%= t('.object')%></td><td><%= link_to @complaint.inspection_object_nr, @complaint.inspection_object %></td></tr>
					<% end %>
					<% if !@complaint.client.nil? %>
					<tr><td><%= t('.client') %></td><td><%= link_to @complaint.client.name, @complaint.client %></td></tr>
					<% end %>
					<% if !@complaint.employee.nil? %>
					<tr><td><%= t('.employee') %></td><td><%= link_to @complaint.employee.fullname, @complaint.employee %></td></tr>
					<% end %>
					<% if !@complaint.report.nil? %>
					<tr><td><%= t('.report') %></td><td><%= link_to @complaint.report_id, @complaint.report %></td></tr>
					<% end %>
					</tr>
				</tbody>
			</table>
		</div>											
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('status') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><%= Complaint.human_attribute_name('status') %></span>
				<span class="val">
					<span class="text-nowrap"><%= complaint_status_span(@complaint.status) %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Complaint.human_attribute_name('planned_handled_date') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaint.planned_handled_date ? l(@complaint.planned_handled_date) : "" %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Complaint.human_attribute_name('handled_date') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaint.handled_date ? l(@complaint.handled_date) : "" %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= t('.assigned_to') %></span>
				<span class="val">
					<span class="text-nowrap"><%= if !@complaint.assigned_to_id.nil? then @complaint.assignee.fullname end %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= t('.owner') %></span>
				<span class="val">
					<span class="text-nowrap"><%= if !@complaint.owner_id.nil? then @complaint.owner.fullname end %></span>
				</span>
			</li>
		</ul>
	</div>
</div>

 <div class="clear"></div>

<div class="mws-panel grid_8">
	<div class="mws-tabs">
        <ul>
            <li><a href="#tab-complaint"><%= t('.complaint') %></a></li>
            <li><a href="#tab-cause"><%= t('.cause') %></a></li>
            <li><a href="#tab-impact"><%= t('.scope') %></a></li>
            <li><a href="#tab-resolution"><%= t('.solution') %></a></li>
        </ul>
		
        <div id="tab-complaint">
			<%= if !@complaint.complaint.nil? then @complaint.complaint.html_safe end %>
        </div>
        <div id="tab-cause">
			<%= if !@complaint.cause.nil? then @complaint.cause.html_safe end %>
        </div>
        <div id="tab-impact">
			<%= if !@complaint.impact.nil? then @complaint.impact.html_safe end %>
        </div>
        <div id="tab-resolution">
			<%= if !@complaint.resolution.nil? then @complaint.resolution.html_safe end %>
        </div>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.actions') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table" width="100%">
			<thead>
				<tr>
					<th><%= t('.action_status') %></th>
					<th style="width:60%"><%= t('.action_notes') %></th>
					<th><%= t('.action_modified_by') %></th>
					<th><%= t('.action_modified_at') %></th>
				</tr>
			</thead>
			<tbody>
				<% @complaint.complaint_actions.order('created_at desc').each do |action| %>
				<tr>
					<td><%= complaint_status_span(action.complaint_status_new) %></td>
					<td><%= !action.action.nil? ? action.action.html_safe : "" %></td>
					<td><%= action.user.display_name %></td>
					<td><%= action.created_at %></td>
				<tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
