<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-list-2"></i> <%= Report.model_name.human(count: 2) %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Report.human_attribute_name('id') %></th>
					<th><%= Report.human_attribute_name('status') %></th>
					<th><%= Report.human_attribute_name('inspection_object_nr') %></th>
					<th><%= Report.human_attribute_name('inspection_date') %></th>
					<th><%= Scope.human_attribute_name('program_id') %></th>
					<th><%= Report.human_attribute_name('scope_id') %></th>
					<th><%= Report.human_attribute_name('employee_id') %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @reports.joins({scope: :program}, :inspection_object, :employee).includes({scope: :program}, :employee, :inspection_object).each do |r| %>
				<tr>
					<td>
						<%= r.id %>
					</td>
					<td>
						<%= report_status_label(r.status) %>
					</td>
					<td>
						<%= r.inspection_object.nr %>
					</td>
					<td>
						<%= r.inspection_date %>
					</td>
					<td>
						<%= r.scope.program.name %>
					</td>
					<td>
						<%= r.scope.name %>
					</td>
					<td>
						<%= r.employee.lastname %>
					</td>
					<td width="30px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), client_report_path(r), { :class => 'btn btn-small' } %>
							<%= link_to raw("<i class='icon-file-pdf'></i>"), client_report_path(r, :format => :pdf), { :target => "_blank", :class => 'btn btn-small' } %>
						</span>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

