<tr>
	<td class="center"><%= link_to_attachment attachment %></td>
	<td><%= File.basename attachment.attachment_url %></td>
	<td> <%= best_in_place attachment, :description, :place_holder => t('object_attachments.attachment.description_placeholder_html'), :as => :textarea %> </td>
	<td width="70px">
		<span class="btn-group">
			<% if policy(attachment).destroy? %>
			<%= link_to raw("<i class='icon-trash'></i>"), attachment, method: :delete, data: { confirm: t('form.confirm_delete') }, :remote => true, :class => 'btn btn-small delete-attachment'  %>
			<% end %>
		</span>
	</td>
</tr>