<%= form_for([@inspection_object, @object_attachment], :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<% if @object_attachment.errors.any? %>
    	<div class="mws-form-message error">
			<%= pluralize(@object_attachment.errors.count, "error") %> prohibited this object from being saved:
			<ul>
				<% @object_attachment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>		
		<% end %>

		<div class="mws-form-row">
			<%= f.label :attachment, "Attachment", :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :attachment %>
			</div>
		</div>
		<div class="mws-form-row">
			<%= f.label :description, "Omschrijving", :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :description, :class => 'medium autosize' %>
			</div>
		</div>
	
		<div class="mws-button-row">
			<%= f.submit "Opslaan", :class => 'btn btn-danger' %>
		</div>
		
	</div>
<% end %>
