<li>
	<span class="thumbnail"><%= image_tag attachment.attachment_url(:thumb).to_s %></span>
    <span class="mws-gallery-overlay">
    	<%= link_to raw("<i class='icon-search'></i>"), attachment.attachment_url(:thumb).to_s, { :class => "mws-gallery-btn", :rel => "prettyPhoto[gallery1]" } %>
    	<%= link_to raw("<i class='icon-trash'></i>"), attachment, :method => :delete, :data => { confirm: "Are you sure?"} , :remote => true, :class => "mws-gallery-btn delete_attachment" %>
    </span>
</li>
