<%= form_for(@equipment, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @equipment } %>
		
		<div class="mws-form-row">
			<%= f.label :equipment_type_id, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.collection_select :equipment_type_id, EquipmentType.order('name'), :id, :name, {:include_blank => true}, { :class => 'mws-select2 small' } %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :nr, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :nr, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :serial_nr, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :serial_nr, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :usage, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.select :usage, [['Operationeel', 'OPERATIONAL'], ['Referentie standaard', 'REFERENCE']], {}, { :class => 'selectpicker' } %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :employee_id, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.collection_select :employee_id, Employee.order(:lastname).all, :id, :fullname, { :include_blank => true }, { :class => 'mws-select2 small' } %>
			</div>
		</div>		

		<div class="mws-form-row">
			<%= f.label :in_service_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :in_service_date, :class => 'mws-datepicker' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :out_of_service_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :out_of_service_date, :class => 'mws-datepicker' %>
			</div>
		</div>
		
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
			
<% end %>
