<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Equipment.model_name.human(count: 2) %></span>
	</div>

	<% if policy(Equipment).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_equipment_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body">
		<%= form_tag equipment_index_path, :method => 'get' do %>
			<%= select_tag :equipment_type_id, options_from_collection_for_select(EquipmentType.order("name"), "id", "name", params[:equipment_type_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_types') }  %>
			<%= text_field_tag :nr, params[:nr], :placeholder => Equipment.human_attribute_name('nr') %>
			<%= text_field_tag :serial_nr, params[:serial_nr], :placeholder => Equipment.human_attribute_name('serial_nr') %>
			<%= select_tag :employee_id, options_from_collection_for_select(Employee.order("lastname"), "id", "lastname", params[:employee_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_users') }  %>
			<%= select_tag :usage, options_for_select([ [Equipment.human_attribute_name('usage.operational'), 'OPERATIONAL'], [Equipment.human_attribute_name('usage.reference'), 'REFERENCE']], params[:usage]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_usages') }  %>

			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= equipment_index_url(format: "json", equipment_type_id: params[:equipment_type_id], nr: params[:nr], serial_nr: params[:serial_nr], employee_id: params[:employee_id], usage: params[:usage]) %>" data-sort-column="0" data-sort-direction="asc">
			<thead>
				<tr>
					<th><%= Equipment.human_attribute_name('equipment_type_id') %></th>
					<th class="no-sort center"><%= EquipmentType.human_attribute_name('image') %></th>
					<th><%= Equipment.human_attribute_name('nr') %></th>
					<th><%= Equipment.human_attribute_name('serial_nr') %></th>
					<th><%= Equipment.human_attribute_name('usage') %></th>
					<th><%= Equipment.human_attribute_name('employee_id') %></th>
					<th><%= Equipment.human_attribute_name('in_service_date') %></th>
					<th><%= Equipment.human_attribute_name('out_of_service_date') %></th>
					<th class="no-sort" width="100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
