<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= Equipment.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@equipment).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_equipment_path(@equipment), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), equipment_index_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<h3><%= @equipment.equipment_type.name %></h3>
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td><%= Equipment.human_attribute_name('id') %></td><td><%= @equipment.id %></td></tr>
								<tr><td><%= Equipment.human_attribute_name('nr') %></td><td><%= @equipment.nr %></td></tr>
								<tr><td><%= Equipment.human_attribute_name('serial_nr') %></td><td><%= @equipment.serial_nr %></td></tr>
								<tr><td><%= Equipment.human_attribute_name('usage') %></td><td><%= equipment_usage_label(@equipment.usage) %></td>
								<tr><td><%= Equipment.human_attribute_name('employee_id') %></td><td><%= link_to(@equipment.employee.fullname, @equipment.employee) unless @equipment.employee.nil? %></td>
								<tr><td><%= Equipment.human_attribute_name('in_service_date') %></td><td><%= @equipment.in_service_date %></td></tr>
								<tr><td><%= Equipment.human_attribute_name('out_of_service_date') %></td><td><%= @equipment.out_of_service_date %></td></tr>
								<% if !@equipment.equipment_type.manual_url.nil? %>
								<tr>
									<td><%= EquipmentType.human_attribute_name('manual') %></td><td><%= link_to File.basename(@equipment.equipment_type.manual_url), @equipment.equipment_type.manual_url, :target => "_blank" %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</td>
				<td valign="top">
					<% if !@equipment.equipment_type.image_url.nil? %>
						<%= image_tag @equipment.equipment_type.image_url(:thumb).to_s, :class => "img-polaroid"  %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= MaintenanceScheme.model_name.human(count: 2) %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= MaintenanceScheme.human_attribute_name('name') %></th>
					<th><%= t('.interval_days') %></th>
					<th style="width:100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @equipment.equipment_type.maintenance_schemes.each do |scheme| %>
				<tr>
					<td><%= scheme.name %></td>
					<td><%= scheme.interval %></td>
					<td style="width:100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), scheme, { :class => 'btn btn-small' } %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Maintenance.model_name.human %></span>
	</div>
	
	<% if policy(Maintenance).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_equipment_maintenance_path(@equipment), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Maintenance.human_attribute_name('maintenance_date') %></th>
					<th><%= Maintenance.human_attribute_name('maintenance_type') %></th>
					<th><%= Maintenance.human_attribute_name('employee_id') %></td>
					<th><%= Maintenance.human_attribute_name('calibration_method_id') %></td>
					<th><%= Maintenance.human_attribute_name('calibration_result') %></td>
					<th><%= Maintenance.human_attribute_name('calibration_approved') %></td>
					<th><%= Maintenance.human_attribute_name('calibration_certificate') %></td>
					<th style="width:100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @equipment.maintenances.order('maintenance_date desc').each do |maintenance| %>
				<tr>
					<td><%= maintenance.maintenance_date %></td>
					<td><%= maintenance_type_label(maintenance.maintenance_type) %></td>
					<td><%= maintenance.employee.fullname unless maintenance.employee.nil? %></td>
					<td><%= maintenance.calibration_method.name unless maintenance.calibration_method.nil? %></td>
					<td><%= maintenance.calibration_result %></td>
					<td style="text-align: center"><%= calibration_approved_span(maintenance.calibration_approved).html_safe %></td>
					<td style="text-align: center"><%= maintenance.calibration_certificate_url.nil? ? "" : link_to(raw("<span class='badge badge-warning'>#{t('.certificate')}</span>"), maintenance.calibration_certificate_url, target: '_blank') %></td>
					<td style="width:100px">
						<span class="btn-group">
							<% if policy(maintenance).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_maintenance_path(maintenance), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(maintenance).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), maintenance, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>