<%= form_for(@program, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @program } %>
		
		<div class="mws-form-row">
			<%= f.label :name, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :name, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :description, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :description, :class => 'medium' %>
			</div>
		</div>
		
		<% if !@program.image_url.nil? %>
			<div class="mws-form-row">
				<div class="mws-form-item">
					<%= image_tag @program.image_url(:thumb).to_s, :class => "img-polaroid"  %>
				</div>
			</div>
			<div class="mws-form-row">
				<label class="mws-form-label"><%= t('.delete_logo') %></label>
				<div class="mws-form-item">
					<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
				</div>
			</div>
		<% end %>

		<div class="mws-form-row">
			<%= f.label :image, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :image %>
			</div>
		</div>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>
