<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Program.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Program).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_program_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Program.human_attribute_name('logo') %></th>
					<th><%= Program.human_attribute_name('name') %></th>
					<th><%= Program.human_attribute_name('description') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @programs.each do |program| %>
				<tr>
					<td align="center"><% if !program.image_url.nil? %><%= link_to image_tag(program.image_url(:thumb).to_s, :size => "128x80"), program %><%end %></td>
					<td><%= program.name %></td>
					<td><%= program.description %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), program, { :class => 'btn btn-small' } %>
							<% if policy(program).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_program_path(program), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(program).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), program, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
