<div class="mws-panel grid_5">
	<div class="mws-panel-header">
  	<span><%= Program.model_name.human %></span>
  </div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@program).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_program_path(@program), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), programs_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
  <div class="mws-panel-body">
		<div class="mws-form-cols clearfix">
			<table width="100%">
				<tr>
					<td width="80%" valign="top">
						<h3><%= @program.name %></h3>
						<p><%= @program.description %></p>
					</td>
					<td valign="top">
						<% if !@program.image_url.blank? %>
							<%= image_tag @program.image_url(:thumb).to_s, :class => "img-polaroid"  %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.statistics') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-barcode"></i> <%= t('.nr_objects') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @program.nr_objects %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-calendar"></i> <%= t('.last_participation') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @program.last_participation_date %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-list-2"></i> <%= t('.nr_reports') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @program.nr_reports %></span>
				</span>
			</li>
		</ul>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Regulation.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Regulation).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_program_regulation_path(@program), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Regulation.human_attribute_name('title') %></th>
					<th><%= Regulation.human_attribute_name('version') %></th>
					<th><%= Regulation.human_attribute_name('status') %></th>
					<th><%= Regulation.human_attribute_name('start_date') %></th>
					<th><%= Regulation.human_attribute_name('end_date') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @program.regulations.order('start_date desc').each do |regulation| %>
				<tr>
					<td><%= regulation.title %></td>
					<td><%= regulation.version %></td>
					<td><%= regulation_status_label(regulation.status) %></td>
					<td><%= regulation.start_date %></td>
					<td><%= regulation.end_date %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), regulation, { :class => 'btn btn-small' } %>
							<% if policy(regulation).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_regulation_path(regulation), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(regulation).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), regulation, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Scope.model_name.human(count: 2) %></span>
	</div>
	<% if policy(Scope).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_program_scope_path(@program), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Scope.human_attribute_name('name') %></th>
					<th><%= Scope.human_attribute_name('visiting_frequency') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @program.scopes.order('name').each do |scope| %>
				<tr>
					<td><%= scope.name %></td>
					<td><%= scope.visiting_frequency %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), scope, { :class => 'btn btn-small' } %>
							<% if policy(scope).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_scope_path(scope), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(scope).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), scope, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ProgramAssessment.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= t('.assessment_name') %></th>
					<th><%= t('.assessment_alternate_name') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @program.program_assessments.each do |assessment| %>
				<tr>
					<td><%= assessment.assessment.name %></td>
					<td><%= assessment.name %></td>
					<td width="100px">
						<span class="btn-group">
							<% if policy(assessment).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_program_assessment_path(assessment), { :class => 'btn btn-small' } %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
