<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Notification.model_name.human(count: 2) %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= notifications_url(format: "json") %>" data-sort-column="2" data-sort-direction="desc">
			<thead>
				<tr>
					<th style="width: 16px"></th>
					<th><%= Notification.human_attribute_name('message') %></th>
					<th><%= Notification.human_attribute_name('created_at') %></th>
					<th style="width: 100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
