<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), users_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for(@user, :html => { :class => 'mws-form' }) do |f| %>
			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @user } %>

				<div class="mws-form-row">
					<%= f.label :email, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.email_field :email, :class => 'medium' %>
					</div>
				</div>

				<div class="mws-form-row">
					<%= f.label :password, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.password_field :password, :class => 'medium' %>
					</div>
				</div>

				<div class="mws-form-row">
					<%= f.label :password_confirmation, t('.confirm_password'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.password_field :password_confirmation, :class => 'medium' %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :two_step_verification, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.select :two_step_verification, [['Tokenizer', 'TOKENIZER']], {:include_blank => true}, { :class => 'selectpicker medium' } %>
					</div>
				</div>
		
				<% if !@user.image_url.nil? %>
					<div class="mws-form-row">
						<div class="mws-form-item">
							<%= image_tag @user.image_url(:thumb).to_s, :class => "img-polaroid"  %><br/>
						</div>
					</div>
					<div class="mws-form-row">
						<label class="mws-form-label"><%= t('form.delete_image') %></label>
						<div class="mws-form-item">
							<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
						</div>
					</div>
				<% end %>

				<div class="mws-form-row">
					<%= f.label :image, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.file_field :image %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :employee_id, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.collection_select :employee_id, Employee.all, :id, :fullname, {:include_blank => true}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :role_ids, t('.roles'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
					<%= select_tag :role_ids, options_for_select(Role.order('name').collect {|s| [s.name, s.id]}, @user.roles.collect {|s| s.id}),:multiple => true, :name=>'user[role_ids][]', :class => 'pickList small', :size => 15 %>
					</div>
				</div>
			
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
