<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= User.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(User).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_user_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= users_url(format: "json") %>" data-sort-column="1" data-sort-direction="asc">
			<thead>
				<tr>
					<th class="no-sort center"><%= User.human_attribute_name('image') %></th>
					<th><%= User.human_attribute_name('email') %></th>
					<th><%= Employee.model_name.human %></th>
					<th class="no-sort"><%= t('.roles') %></th>
					<th><%= User.human_attribute_name('two_step_verification') %></th>
					<th><%= User.human_attribute_name('last_sign_in_at') %></th>
					<th class="no-sort" width="100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>