<% content_for :javascript_includes do %>
<% end %>
            
		
			
<!-- Statistics Button Container -->
<div class="mws-stat-container clearfix">

    <!-- Statistic Item -->
	<a class="mws-stat" href="#">
    	<!-- Statistic Icon (edit to change icon) -->
    	<span class="mws-stat-icon icol32-hotjobs"></span>
        
        <!-- Statistic Content -->
        <span class="mws-stat-content">
        	<span class="mws-stat-title"><%= t('.reports_per_day') %></span>
            <span class="mws-stat-value"><%= @dashboard.reports_per_day.round(1) %></span>
        </span>
    </a>
	
    <!-- Statistic Item -->
	<a class="mws-stat" href="#">
    	<!-- Statistic Icon (edit to change icon) -->
    	<span class="mws-stat-icon icol32-exclamation"></span>
        
        <!-- Statistic Content -->
        <span class="mws-stat-content">
        	<span class="mws-stat-title"><%= t('.non_conformities_per_report') %></span>
            <span class="mws-stat-value"><%= @dashboard.nok_assessments_per_report.round(1) %></span>
        </span>
    </a>


	<a class="mws-stat" href="#">
    	<!-- Statistic Icon (edit to change icon) -->
    	<span class="mws-stat-icon icol32-document-mark-as-final"></span>
        
        <!-- Statistic Content -->
        <span class="mws-stat-content">
        	<span class="mws-stat-title"><%= t('.review_percentage') %></span>
            <span class="mws-stat-value"><%= @dashboard.review_percentage.round(1) %>%</span>
        </span>
    </a>

	<a class="mws-stat" href="#">
    	<!-- Statistic Icon (edit to change icon) -->
    	<span class="mws-stat-icon icol32-timeline"></span>
        
        <!-- Statistic Content -->
        <span class="mws-stat-content">
        	<span class="mws-stat-title"><%= t('.days_until_review') %></span>
            <span class="mws-stat-value"><%= @dashboard.avg_days_before_review.round(1) %></span>
        </span>
    </a>

	<a class="mws-stat" href="#">
    	<!-- Statistic Icon (edit to change icon) -->
    	<span class="mws-stat-icon icol32-error"></span>
        
        <!-- Statistic Content -->
        <span class="mws-stat-content">
        	<span class="mws-stat-title"><%= t('.errors_per_report') %></span>
            <span class="mws-stat-value"><%= @dashboard.errors_per_report.round(1) %></span>
        </span>
    </a>
    
</div>


<!-- Panels Start -->

<div class="mws-panel grid_6">
	<div class="mws-panel-header">
    	<span><i class="icon-graph"></i> <%= t('.reports')%></span>
    </div>
    <div class="mws-panel-body">
        <div id="chart-reports" style="height: 222px;" class="am-chart" data-source="<%= managers_reports_url(format: "json") %>"></div>
    </div>
</div>

<div class="mws-panel grid_2">
	<div class="mws-panel-header">
    	<span><i class="icon-book"></i> <%= t('.statistics') %></span>
    </div>
    <div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-list-2"></i> <%= t('.number_of_reports') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @dashboard.number_of_reports %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-barcode"></i> <%= t('.number_of_objects') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @dashboard.number_of_objects %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-official"></i> <%= t('.number_of_clients') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @dashboard.number_of_clients %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-flag"></i> <%= t('.last_inspection') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @dashboard.last_inspection_date %></span>
				</span>
			</li>
			<li>
				<span class="key"><i class="icon-check"></i> <%= t('.last_review') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @dashboard.last_review_date %></span>
				</span>
			</li>
			<li>
				<span class="key"></span>
				<span class="val">
					<span class="text-nowrap"></span>
				</span>
			</li>
		</ul>
    </div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
    	<span><i class="icon-chart"></i> <%= t('.assessments') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-assessments" style="width:100%; height:300px; " class="am-chart" data-source="<%= managers_report_assessments_url(format: "json") %>"></div>
    	</div>
    </div>
</div>


<div class="mws-panel grid_5">
	<div class="mws-panel-header">
    	<span><i class="icon-bars"></i> <%= t('.errors_per_category') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
			<div id="chart-errors-per-category" style="height:300px; width: 70%; float: left;" class="am-chart" data-source="<%= managers_report_errors_for_each_category_url(format: "json") %>"></div>
			<div id="chart-errors-per-category-legend" style="width: 30%; float:left;">
    	</div>
		<div style="clear: both;"></div>
    </div>
</div>

                
<!-- Panels End -->
				
<script type="text/javascript" charset="utf-8">
	$(function() {

		$("<div id='tooltip-errors-per-category'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fefefe",
			opacity: 0.80
		}).appendTo("body");

		$("#chart-errors-per-category").bind("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);

				$("#tooltip-errors-per-category").html(item.series.label + ": "+ Math.round(y))
					.css({top: pos.pageY-30, left: pos.pageX, "border-color": item.series.color})
					.fadeIn(150);
			} else {
				$("#tooltip-errors-per-category").hide();
			}
		});

	});
</script>
