<tr>
	<td>
		<%= link_to_attachment(attachment) %>
	</td>
	<td>
		<%= File.basename attachment.attachment_url %>
	</td>
	<td>
		<%= best_in_place attachment, :description, :place_holder => '<i>[Klik voor omschrijving]</i>', :as => :textarea %>
	</td>
	<td style="width: 20px">
		<span class="btn-group">
			<%= link_to raw("<i class='icon-trash'></i>"), attachment, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'btn btn-small delete-attachment'  %>
		</span>
	</td>
</tr>