<% if object.errors.any? %>
<div class="mws-form-message error">
		<%= t('.object_cannot_be_saved', model: object.class.model_name.human) %>
		<ul>
		<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>		
<% end %>