<%= form_for(@client, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @client } %>
		
		<fieldset class="mws-form-inline">
    		<legend><%= t('.general') %></legend>
		
			<div class="mws-form-row">
				<%= f.label :name, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :name, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :address, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :address, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :postcode, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :postcode, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :city, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :city, :class => 'medium' %>
				</div>
			</div>
	
			<div class="mws-form-row">
				<%= f.label :state, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :state, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :country, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.country_select :country, {include_blank: true}, { :class => 'mws-select2 medium' } %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :phone, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.phone_field :phone, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :fax, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.phone_field :fax, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :email, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.email_field :email, :class => 'email medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :website, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.url_field :website, :class => 'url medium' %>
				</div>
			</div>
			
		<% if !@client.image_url.nil? %>
			<div class="mws-form-row">
				<div class="mws-form-item">
					<%= image_tag @client.image_url(:thumb).to_s, :class => "img-polaroid" %><br/>
				</div>
			</div>
			<div class="mws-form-row">
				<label class="mws-form-label"><%= t('form.delete_image') %></label>
				<div class="mws-form-item">
					<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
				</div>
			</div>
		<% end %>

		<div class="mws-form-row">
			<%= f.label :image, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :image %>
			</div>
		</div>

		</fieldset>
		
		<fieldset class="mws-form-inline">
    		<legend><%= t('.mailing_address') %></legend>

			<div class="mws-form-row">
				<%= f.label :pos_address, t('.address'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :pos_address, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :pos_postalcode, t('.postcode'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :pos_postcode, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :pos_city, t('.city'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :pos_city, :class => 'medium' %>
				</div>
			</div>
	
			<div class="mws-form-row">
				<%= f.label :pos_state, t('.state'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :pos_state, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :pos_country, t('.country'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.country_select :pos_country, {include_blank: true}, { :class => 'mws-select2 medium' } %>
				</div>
			</div>
						
		</fieldset>
		
		<fieldset class="mws-form-inline">
    		<legend><%= t('.billing_address') %></legend>

			<div class="mws-form-row">
				<%= f.label :inv_address, t('.address'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :inv_address, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :inv_postalcode, t('.postcode'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :inv_postcode, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :inv_city, t('.city'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :inv_city, :class => 'medium' %>
				</div>
			</div>
	
			<div class="mws-form-row">
				<%= f.label :inv_state, t('.state'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :inv_state, :class => 'medium' %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :inv_country, t('.country'), :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.country_select :inv_country, {include_blank: true}, { :class => 'mws-select2 medium' } %>
				</div>
			</div>
						
		</fieldset>
		
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>
