<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Client.model_name.human(count: 2) %></span>
	</div>

	<% if policy(Client).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_client_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="mws-panel-body">
		<%= form_tag clients_path, :method => 'get' do %>
			<%= text_field_tag :name, params[:name], :placeholder => Client.human_attribute_name('name') %>
			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= clients_url(format: "json", name: params[:name]) %>" data-sort-column="0" data-sort-direction="asc">
			<thead>
				<tr>
					<th class="no-sort center"><%= Client.human_attribute_name('image') %></th>
					<th><%= Client.human_attribute_name('name') %></th>
					<th><%= Client.human_attribute_name('address') %></th>
					<th><%= Client.human_attribute_name('postcode') %></th>
					<th><%= Client.human_attribute_name('city') %></th>
					<th><%= Client.human_attribute_name('state') %></th>
					<th><%= Client.human_attribute_name('country') %></th>
					<th class="no-sort" width="100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
