<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= Client.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@client).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_client_path(@client), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), clients_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<h3><%= @client.name %></h3>
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td><%= t('.address') %></td>
									<td>
										<%= @client.address %> <br/>
										<%= @client.postcode %> <%= @client.city %><br/>
										<%= @client.state %><br/>
										<%= country_name(@client.country) %>
									</td>
								</tr>
								<tr><td><i class="icon-phone"></i></td><td><%= @client.phone %></td></tr>
								<tr><td><i class="icon-print"></i></td><td><%= @client.fax %></td>
								<tr><td><i class="icon-envelope"></i></td><td><%= mail_to @client.email %></td>
								<tr><td><i class="icon-safari"></i></td><td><%= link_to @client.website.to_s, @client.website, :target => '_blank'  %></td>
								<tr><td><%= t('.mailing_address') %></td>
									<td>
										<%= @client.pos_address %> <br/>
										<%= @client.pos_postcode %> <%= @client.pos_city %><br/>
										<%= @client.pos_state %><br/>
										<%= country_name(@client.pos_country) %>
									</td>
								</tr>
								<tr><td><%= t('.billing_address') %></td>
									<td>
										<%= @client.inv_address %> <br/>
										<%= @client.inv_postcode %> <%= @client.inv_city %><br/>
										<%= @client.inv_state %><br/>
										<%= country_name(@client.inv_country) %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>											
				</td>
				<td valign="top">
					<% if !@client.image_url.nil? %>
						<%= image_tag @client.image_url(:thumb).to_s, :class => "img-polaroid"  %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= InspectionObject.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(InspectionObject).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_client_inspection_object_path(@client), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= InspectionObject.human_attribute_name('nr') %></th>
					<th><%= InspectionObject.human_attribute_name('name') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @client.inspection_objects.order(:nr).each do |inspection_object| %>
				<tr>
					<td><%= inspection_object.nr %></td>
					<td><%= inspection_object.name %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), inspection_object, { :class => 'btn btn-small' } %>
							<% if policy(inspection_object).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_inspection_object_path(inspection_object), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(inspection_object).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), inspection_object, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
