<%= form_for(@maintenance_scheme, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @maintenance_scheme } %>
		
		<div class="mws-form-row">
			<%= f.label :name, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :name, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :maintenance_type, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.select :maintenance_type, maintenance_type_select_options, {}, { :class => 'selectpicker' } %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :interval, t('.interval_days'), :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.number_field :interval, :min => 1 %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :warn_before, t('.reminder_days'), :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.number_field :warn_before, :min => 0 %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :description, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :description, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>
