<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= MaintenanceScheme.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(MaintenanceScheme).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_maintenance_scheme_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= MaintenanceScheme.human_attribute_name('name') %></th>
					<th><%= MaintenanceScheme.human_attribute_name('type') %></th>
					<th><%= t('.interval_days') %></th>
					<th><%= t('.reminder_days') %></th>
					<th><%= MaintenanceScheme.human_attribute_name('description') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @maintenance_schemes.order('name').each do |scheme| %>
				<tr>
					<td><%= scheme.name %></td>
					<td><%= maintenance_type_label(scheme.maintenance_type) %></td>
					<td><%= scheme.interval %></td>
					<td><%= scheme.warn_before %></td>
					<td><%= scheme.description %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), scheme, { :class => 'btn btn-small' } %>
							<% if policy(scheme).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_maintenance_scheme_path(scheme), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(scheme).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), scheme, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
