<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= MaintenanceScheme.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@maintenance_scheme).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_maintenance_scheme_path(@maintenance_scheme), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), maintenance_schemes_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<h3><%= @maintenance_scheme.name %></h3>
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td><%= MaintenanceScheme.human_attribute_name('maintenance_type') %></td><td><%= maintenance_type_label(@maintenance_scheme.maintenance_type) %></td></tr>
								<tr><td><%= t('.interval_days') %></td><td><%= @maintenance_scheme.interval %></td></tr>
								<tr><td><%= t('.reminder_days') %></td><td><%= @maintenance_scheme.warn_before %></td></tr>
								<tr><td><%= MaintenanceScheme.human_attribute_name('description') %></td><td><%= @maintenance_scheme.description %></td></tr>
							</tbody>
						</table>
					</div>	
				</td>
			</tr>
		</table>
	</div>
</div>
