<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), inspection_object_url(@object_parameter.inspection_object_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for([@inspection_object, @object_parameter], :html => { :class => 'mws-form' }) do |f| %>
			<div class="mws-form-inline">
				<% if @object_parameter.errors.any? %>
		    	<div class="mws-form-message error">
						<%= pluralize(@object_parameter.errors.count, "error") %> prohibited this parameter from being saved:
						<ul>
						<% @object_parameter.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>		
				<% end %>
		
				<div class="mws-form-row">
					<%= f.label :name, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :name %>
					</div>
				</div>

				<div class="mws-form-row">
					<%= f.label :value, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :value %>
					</div>
				</div>

				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
