<%= form_for([@regulation, @section], :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @section } %>

		<div class="mws-form-row">
			<%= f.label :nr, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :nr %>
			</div>
		</div>
		<div class="mws-form-row">
			<%= f.label :title, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :title, :class => 'large' %>
			</div>
		</div>
		<div class="mws-form-row">
			<%= f.label :text, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :text, :class => 'tinymce' %>
			</div>
		</div>
		<div class="mws-form-row">
			<%= f.label :instruction, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :instruction, :class => 'tinymce' %>
			</div>
		</div>
		<div class="mws-form-row">
			<%= f.label :scope_ids, Scope.model_name.human(count: 2), :class => 'mws-form-label' %>
			<div class="mws-form-item">
			<%= select_tag :scope_ids, options_for_select(@section.regulation.program.scopes.collect {|s| [s.name, s.id]}, @section.scopes.collect {|s| s.id}),:multiple => true, :name=>'section[scope_ids][]', :class => 'pickList small', :size => 15 %>
			</div>
		</div>
				
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

<%= tinymce :language => I18n.locale %>
