<%= form_for([@program, @regulation], :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @regulation } %>
		
		<div class="mws-form-row">
			<%= f.label :title, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :title %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :status, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.select :status, [[Regulation.human_attribute_name('status.new'), 'NEW'], [Regulation.human_attribute_name('status.final'), 'FINAL']], {}, { :class => 'selectpicker' } %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :version, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :version %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :start_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :start_date, :class => 'mws-datepicker' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :end_date, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :end_date, :class => 'mws-datepicker' %>
			</div>
		</div>
		
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

