<div class="mws-panel grid_8">
	<div class="mws-panel-header">
  	<span><%= Regulation.model_name.human %></span>
  </div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@regulation).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_regulation_path(@regulation), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), program_url(@regulation.program_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
  <div class="mws-panel-body">
		<div class="mws-form-cols clearfix">
			<div class="mws-form-col-6-8 alpha">
				<h3>
					<%= @regulation.title %>
				</h3>
				<div class="am-show-table">
					<table width="80%">
						<tbody>
							<tr>
								<td><%= Regulation.human_attribute_name('version') %></td>
								<td><%= @regulation.version %></td>
							</tr>
							<tr>
								<td><%= Regulation.human_attribute_name('status')%></td>
								<td><%= regulation_status_label(@regulation.status) %></td>
							</tr>
							<tr>
								<td><%= Program.model_name.human %></td>
								<td><%= @regulation.program.name %></td>
							</tr>
							<tr>
								<td><%= Regulation.human_attribute_name('start_date') %></td>
								<td><%= @regulation.start_date %></td>
							</tr>
							<tr>
								<td><%= Regulation.human_attribute_name('end_date') %></td>
								<td><%= @regulation.end_date %></td>
							</tr>
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
  	<span><%= Section.model_name.human(count: 2) %></span>
  </div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<% if policy(@regulation).edit? %>
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_regulation_section_path(@regulation), { :class => "btn" } %>
			</div>
			<% end %>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<%= "#{Scope.model_name.human} #{@scope_name}" %>
				<span class="caret"></span>
  				</a>
  				<ul class="dropdown-menu">
  					<li><%= link_to t('.no_scope'), regulation_path(@regulation) %></li>
  					<% @regulation.program.scopes.each do |s| %>
  						<li><%= link_to s.name, regulation_path(@regulation, :scope_id => s.id) %></li>
  					<% end %>
  				</ul>
			</div>
		</div>
	</div>
  <div class="mws-panel-body no-padding">
		<table class="mws-table">
			<tbody id="<%= policy(Section).update? ? 'sections-table' : 'sections-table-no-sort' %>" data-regulation-id="<%= @regulation.id %>">
			<% @sections.each do |section| %>
				<tr data-id="<%= section.id %>" data-position="<%= section.seq_nr %>">
					<td><%= section.nr %></td>
					<td>
						<% if !section.title.blank? %>
						<strong><%= section.title %></strong>
							<% if !section.text.blank? %>
							<br/>
							<% end %>
						<% end %>
						<%= section.text.html_safe %>
						<% if !section.instruction.blank? %>
							<div class="am-instruction"><div class="am-instruction-inner"><h3 class="am-instruction-title"><%= Section.human_attribute_name('instruction') %></h3><div class="am-instruction-content"><p><%= section.instruction.html_safe %></p></div></div></div>
						<% end %>
					</td>
					<td width="100px">
						<span class="btn-group">
							<% if policy(section).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_section_path(section), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(section).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), section, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
							<% if !section.instruction.blank? %>
							<div class="btn btn-small am-btn-instruction"><i class='icon-comment-2'></i></div>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
 	</div>
</div>
