<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>About</span>
	</div>
	
	<div class="mws-panel-body">
		<div class="am-show-table">
			<table>
				<tbody>
					<tr><td>Version</td><td>2.4.0</td></tr>
				</tbody>
			</table>
		</div>				
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Changelog</span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table" width="100%">
			<thead>
				<tr>
					<th style="width: 60px">Version</th>
					<th style="width: 80px">Released</th>
					<th>Changes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 60px">2.4.0</td>
					<td style="width: 80px">26-09-2015</td>
					<td>
						<ul>
							<li>
								<h5>Internationalisation</h5>
								<p>Support for different languages (locales) throughout the entire application. The default locale is Dutch (nl). English (en) is available as well. More will follow. You can change locale simply by appending the locale to the URL, for example <%= link_to root_url(locale: 'en'), root_url(locale: 'en')  %> for English.</p>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="width: 60px">2.3.1</td>
					<td style="width: 80px">18-04-2015</td>
					<td>
						<ul>
							<li>
								<h5>Bugfixes & Minor enhancements</h5>
								<ul>
									<li>Calibration certificates can be added to maintenances</li>
									<li>Calibration instruction manuals can be added to calibration methods</li>
									<li>Quick access to the manual from the equipment page</li>
									<li>Search for usage in equipment index page</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="width: 60px">2.3.0</td>
					<td style="width: 80px">12-04-2015</td>
					<td>
						<ul>
							<li>
								<h5>Report Item attachments</h5>
								<p>You can now add attachments, like images, documents and even sounds, to each individual report item. In previous versions you could add images to a report. This has been replaced with item attachments. You can add them when editing a report. They are accessible from the review pages.</p>
							</li>
							<li>
								<h5>Object attachments</h5>
								<p>You can now add attachments, like images and documents, to inspection objects. You can upload multiple attachments at the same time and each attachment can be supplied with a description to clarify its purpose.</p>
							</li>
							<li>
								<h5>Revised review workflow</h5>
								<p>...</p>
							</li>
							<li>
								<h5>Bugfixes & Minor enhancements</h5>
								<ul>
									<li>Layout improvements of PDF report</li>
									<li>Minor changes to review show page to make the report errors stand out more</li>
									<li>Object description now accepts HTML</li>
									<li>Creating object parameters failed</li>
									<li>Dialogs and tab pages were not displayed correctly.</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="width: 60px">2.2.0</td>
					<td style="width: 80px">23-01-2015</td>
					<td>
						<ul>
							<li>
								<h5>Client Portal</h5>
								<p>Client portal has become an integral part of the application and no longer requires a seperate installation.</p>
							</li>
						</ul>
					</td>
				</tr>

				<tr>
					<td style="width: 60px">2.1.1</td>
					<td style="width: 80px">10-01-2015</td>
					<td>
						<ul>
							<li>
								<h5>Live search for inspection objects</h5>
								<p>Forms that ask you to fill in an inspection object number, will now do a live search for matching objects. The live search starts after you have typed the first character. It will show a list of objects with matching object nr, matching name or matching client name. For example, in the new report form, you can start typing the object's name, and it will show the corresponding objects.</br>
							</li>
							<li>
								<h5>Bugfixes & Minor enhancements</h5>
								<ul>
									<li>Inspection object show page failed in production due to uncompiled assets.</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="width: 60px">2.1.0</td>
					<td style="width: 80px">04-01-2015</td>
					<td>
						<ul>
							<li>
								<h5>Role based authorization</h5>
								<p>A role based security mechanism is added. By default each user is granted read-only access to (most part of) the application. One or more roles can be assigned to each user to grant him or her more access. There are six pre-defined roles:</br>
									<ol>
										<li>Administrator<p>Application administrator role &mdash; Administrators have read/write access to all parts of the application.</p></li>
										<li>Manager<p>Technical Manager role &mdash; Managers have read/write access to all parts of the applicatione except for the Application Maintenance section.</p></li>
										<li>Inspector<p>Inspector role &mdash; Inspectors are allowed to create reports (obviously). They have read access to the rest of the application. However, they can only view their own reports.</li>
										<li>Reviewer<p>Reviewer role &mdash; Reviewers have access to everything that is required to do report reviews.</li>
										<li>Administrative Assistent<p>Administrative assistant role &mdash; Administrative assistants have read/write access to all master data.</li>
										<li>Complaint Handler<p>Complaint handler role &mdash; Complaint handlers have access to everything that is required to handle complaints.</li>
									</ol>
									In addition to these roles, a user can be marked as 'admin'. Admin users are the super-users of the application, they have access to everything. Typically, there is only a single admin user. Admin users are assigned during installation and cannot be deleted.
								</p>
							</li>
							<li>
								<h5>About page</h5>
								<p>This about page, the one you're reading right now. It lists all the changes of Audimax version 2.1 and above.</p>
							</li>
							<li>
								<h5>Bugfixes & Minor enhancements</h5>
								<ul>
									<li>In the inspection objects index page, searching by name now returns all objects which name <i>contains</i> the searched text. Queries by name are case insensitive.</li>
									<li>Complaint action status was not shown in the right label in the complaint form.</li>
								</ul>
							</li>
							
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>