<div class="mws-panel grid_6">
	<div class="mws-panel-header">
    	<span><i class="icon-graph"></i> <%= t('.complaints_received') %></span>
    </div>
    <div class="mws-panel-body">
		<div id="chart-complaints-received" class="am-chart" style="height: 222px;" data-source="<%= management_complaints_received_url(format: "json") %>"></div>
    </div>
</div>

<div class="mws-panel grid_2">
	<div class="mws-panel-header">
    	<span><i class="icon-chart"></i> <%= t('.complaints_overdue') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-complaints-overdue" style="width:100%; height:222px; "></div>
    	</div>
    </div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
    	<span><i class="icon-stats"></i> <%= t('.statistics')%></span>
    </div>
    <div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key" style="width: 200px"><i class="icon-lightning-3"></i> <%= t('.nr_open_complaints') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaints_dashboard.nr_open_complaints %></span>
				</span>
			</li>
			<li>
				<span class="key" style="width: 200px"><i class="icon-calendar"></i> <%= t('.days_since_last_complaint') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaints_dashboard.days_since_last_complaint %></span>
				</span>
			</li>
			<li>
				<span class="key" style="width: 200px"><i class="icon-lightning-2"></i> <%= t('.nr_complaints')%></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaints_dashboard.nr_complaints %></span>
				</span>
			</li>
			<li>
				<span class="key" style="width: 200px"><i class="icon-gauge"></i> <%= t('.average_handling_days') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @complaints_dashboard.average_handling_days %> dagen</span>
				</span>
			</li>
			<li>
				<span class="key" style="width: 200px"></span>
				<span class="val">
					<span class="text-nowrap"></span>
				</span>
			</li>
			<li>
				<span class="key" style="width: 200px"></span>
				<span class="val">
					<span class="text-nowrap"></span>
				</span>
			</li>
		</ul>
    </div>
</div>

<div class="mws-panel grid_2">
	<div class="mws-panel-header">
    	<span><i class="icon-chart"></i> <%= t('.complaints_per_type') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-complaints-per-type" style="width:100%; height:222px; " class="am-chart" data-source="<%= management_complaints_per_type_url(format: "json") %>"></div>
    	</div>
    </div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
    	<span><i class="icon-bars"></i> <%= t('.complaints_per_priority') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-complaints-per-priority" class="am-chart" style="width:100%; height:222px" data-source="<%= management_complaints_per_priority_url(format: "json") %>"></div>
    	</div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		if ($.plot) {

			var data = [
			<% @complaints_overdue_chart.series_data.each do |cat| %>
				{label: '<%= cat[:label] %>', data: <%= cat[:data] %>, color: '<%= cat[:color] %>' },
			<% end %>
			];
			
			function labelFormatter(label, series) {
				return "<div style='font-size:8pt; text-align:center; padding:2px; color:black;'>" + series.percent.toFixed(0) + "%</div>"
			}
			
			$.plot($("#chart-complaints-overdue"),
				data, {
				series: {
					pie: {
						show: true,
						label: { 
							show: true,
							radius: 0.90,
							formatter: labelFormatter
						}
					}
				},
				legend: {
					show: true,
				},
	            grid: {
	                hoverable: true
	            }
			});
		}
	});
</script>

