<div class="mws-panel grid_8">
	<div class="mws-panel-header">
    	<span><i class="icon-graph"></i> <%= t('.average_errors_per_report') %></span>
    </div>
    <div class="mws-panel-body">
        <div id="chart-avg-errors" class="am-chart" style="height: 222px;" data-source="<%= management_report_errors_url(format: "json") %>"></div>
    </div>
</div>

<div class="mws-panel grid_4">
	<div class="mws-panel-header">
    	<span><i class="icon-chart"></i> <%= t('.errors_per_category') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
			<div id="chart-errors-per-category" style="height:300px; width:100%;"></div>
    	</div>
    </div>
</div>

<div class="mws-panel grid_4">
	<div class="mws-panel-header">
    	<span><i class="icon-bars"></i> <%= t('.errors_per_inspector') %></span>
    </div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-errors-per-inspector" class="am-chart" style="width:100%; height:288px" data-source="<%= management_report_errors_per_inspector_url(format: "json") %>"></div>
			<div id="chart-errors-per-inspector-label" style="width: 100%; height: 12px; text-align: center">
    	</div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		if ($.plot) {

			var data = [
			<% @errors_per_category_chart.series_data.each do |cat| %>
				{label: '<%= cat[:label] %>', data: <%= cat[:data] %> },
			<% end %>
			];
			
			var categories = <%= @errors_per_category_chart.categories %>;

			function labelFormatter(label, series) {
				return "<div style='font-size:8pt; text-align:center; padding:2px; color:black;'>" + series.percent.toFixed(0) + "%</div>"
			}
			
			$.plot($("#chart-errors-per-category"),
				data, {
				series: {
					pie: {
						show: true,
						label: { 
							show: true,
							radius: 0.85,
							formatter: labelFormatter
						}
					}
				},
				legend: {
					show: true,
				},
	            grid: {
	                hoverable: true,
					clickable: true
	            }
			});
			
			$("#chart-errors-per-category").bind("plotclick", function (event, pos, item) {
				if (item) {
					$.ajax({
						url: 'report_errors_per_inspector.json?category_id='+categories[item.seriesIndex],
						type: "GET",
						dataType: "json",
						success: function(chart) { $("#chart-errors-per-inspector-label").text(item.series.label); chart.data[0].color = item.series.color; $.plot($("#chart-errors-per-inspector"), chart.data, chart.options); }
					});
				} else {
					$.ajax({
						url: 'report_errors_per_inspector.json',
						type: "GET",
						dataType: "json",
						success: function(chart) { $("#chart-errors-per-inspector-label").text(""); $.plot($("#chart-errors-per-inspector"), chart.data, chart.options); }
					});
				}
			});		
			
		}
	});
</script>
