<%= form_for(@company, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @company } %>
		
		<div class="mws-form-row">
			<%= f.label :name, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :name, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :address, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :address, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :postalcode, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :postalcode, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :city, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :city, :class => 'medium' %>
			</div>
		</div>
	
		<div class="mws-form-row">
			<%= f.label :state, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :state, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :country, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.country_select :country, {include_blank: true}, { :class => 'mws-select2 medium' } %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :phone, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.phone_field :phone, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :fax, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.phone_field :fax, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :email, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.email_field :email, :class => 'email medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :web, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.url_field :web, :class => 'url medium' %>
			</div>
		</div>

		<% if !@company.image_url.nil? %>
			<div class="mws-form-row">
				<div class="mws-form-item">
					<div id="company_logo">
					<%= image_tag @company.image_url(:thumb).to_s, :class => "img-polaroid"  %><br/>
					</div>
				</div>
			</div>
			<div class="mws-form-row">
				<label class="mws-form-label"><%= t('.delete_logo') %></label>
				<div class="mws-form-item">
					<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
				</div>
			</div>
		<% end %>
		
		<div class="mws-form-row">
			<%= f.label :image, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :image %>
			</div>
		</div>
			
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

