<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Company.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Company).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_company_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= companies_url(format: "json") %>" data-sort-column="1" data-sort-direction="asc">
			<thead>
				<tr>
					<th class="no-sort center"><% t('.logo') %></th>
					<th><%= Company.human_attribute_name('name') %></th>
					<th><%= Company.human_attribute_name('address') %></th>
					<th><%= Company.human_attribute_name('postcode') %></th>
					<th><%= Company.human_attribute_name('city') %></th>
					<th><%= Company.human_attribute_name('state') %></th>
					<th><%= Company.human_attribute_name('country') %></th>
					<th class="no-sort" width="100px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

</div>
