<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= Company.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@company).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_company_path(@company), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), companies_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<h3><%= @company.name %></h3>
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td><%= Company.human_attribute_name('address') %></td>
									<td>
										<%= @company.address %> <br/>
										<%= @company.postalcode %> <%= @company.city %><br/>
										<%= @company.state %><br/>
										<%= country_name(@company.country) %>
									</td>
								</tr>
								<tr><td><i class="icon-phone"></i></td><td><%= @company.phone %></td></tr>
								<tr><td><i class="icon-print"></i></td><td><%= @company.fax %></td>
								<tr><td><i class="icon-envelope"></i></td><td><%= mail_to @company.email %></td>
								<tr><td><i class="icon-safari"></i></td><td><%= link_to @company.web, @company.web, :target => '_blank'  %></td>
							</tbody>
						</table>
					</div>						
				</td>
				<td valign="top">
					<% if !@company.image_url.nil? %>
						<%= image_tag @company.image_url(:thumb).to_s, :class => "img-polaroid"  %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Accreditation.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(Accreditation).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_company_accreditation_path(@company), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= Program.model_name.human %></th>
					<th><%= Scope.model_name.human %></th>
					<th><%= Accreditation.human_attribute_name('start_date') %></th>
					<th><%= Accreditation.human_attribute_name('end_date') %></th>
					<th><%= Program.human_attribute_name('logo') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @company.accreditations.each do |accreditation| %>
				<tr>
					<td><%= accreditation.scope.program.name %></td>
					<td><%= accreditation.scope.name %></td>
					<td><%= accreditation.start_date %></td>
					<td><%= accreditation.end_date %></td>
					<td align="center"><% if !accreditation.image_url.nil? %><%= image_tag(accreditation.image_url(:thumb).to_s, :class => 'img-polaroid', :size => "80x48") %><%end %></td>
					<td width="100px">
						<span class="btn-group">
							<% if policy(accreditation).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_company_accreditation_path(@company, accreditation), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(accreditation).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), company_accreditation_path(@company, accreditation), method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>