<%= form_for(@calibration_method, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @calibration_method } %>
		
		<div class="mws-form-row">
			<%= f.label :name, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :name, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :description, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :description, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>
