<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= CalibrationMethod.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(CalibrationMethod).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_calibration_method_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= CalibrationMethod.human_attribute_name('name') %></th>
					<th><%= CalibrationMethod.human_attribute_name('description') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @calibration_methods.each do |calibration_method| %>
				<tr>
					<td><%= calibration_method.name %></td>
					<td><%= calibration_method.description %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), calibration_method, { :class => 'btn btn-small' } %>
							<% if policy(calibration_method).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_calibration_method_path(calibration_method), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(calibration_method).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), calibration_method, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
