<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= CalibrationMethod.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@calibration_method).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_calibration_method_path(@calibration_method), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), calibration_methods_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<h3><%= @calibration_method.name %></h3>
		<div class="am-show-table">
			<table width="80%">
				<tbody>
					<tr>
						<td><%= CalibrationMethod.human_attribute_name('description') %></td>
						<td>
							<%= @calibration_method.description %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= t('.manuals') %></span>
	</div>
	<% if policy(CalibrationMethodManual).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_calibration_method_calibration_method_manual_path(@calibration_method), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	<div class="mws-panel-body no-padding">
		<table id="attachment-table" class="mws-table">
			<thead>
				<tr>
					<th><%= CalibrationMethodManual.human_attribute_name('manual') %></th>
					<th><%= CalibrationMethodManual.human_attribute_name('start_date')%></th>
					<th><%= CalibrationMethodManual.human_attribute_name('end_date') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @calibration_method.calibration_method_manuals.order('start_date desc').each do |manual| %>
				<tr>
					<td><%= link_to(File.basename(manual.manual_url.to_s), manual.manual_url, target: '_blank') %></td>
					<td><%= manual.start_date %></td>
					<td><%= manual.end_date %></td>
					<td width="100px">
						<span class="btn-group">
							<% if policy(manual).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_calibration_method_manual_path(manual), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(manual).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), manual, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
