<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), program_url(@scope.program_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for([@program, @scope], :html => { :class => 'mws-form' }) do |f| %>
			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @scope } %>

				<div class="mws-form-cols clearfix">
					<div class="mws-form-row">
						<%= f.label :name, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.text_field :name, :class => 'required' %>
						</div>
					</div>
					<div class="mws-form-row">
						<%= f.label :visiting_frequency, :class => 'mws-form-label' %>
						<div class="mws-form-item">
							<%= f.number_field :visiting_frequency, :min => 1 %>
						</div>
					</div>
				</div>
		
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
