<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= Scope.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@scope).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_scope_path(@scope), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), program_url(@scope.program_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<h3><%= @scope.name %></h3>
		<div class="am-show-table">
			<table width="80%">
				<tbody>
					<tr>
						<td><%= Scope.human_attribute_name('visiting_frequency') %></td>
						<td><%= @scope.visiting_frequency %></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.statistics') %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><i class="icon-barcode"></i> <% t('.objects') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @scope.inspection_objects.count %></span>
				</span>
			</li>
		</ul>
	</div>
</div>
