<%= form_for([@equipment, @maintenance], :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @maintenance } %>
		
		<fieldset class="mws-form-inline">
    		<legend><%= t('.general') %></legend>

			<div class="mws-form-row">
				<%= f.label :maintenance_type, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.select :maintenance_type, maintenance_type_select_options, {}, { :class => 'selectpicker' } %>
				</div>
			</div>

			<div class="mws-form-row">
				<%= f.label :maintenance_date, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.text_field :maintenance_date, :class => 'mws-datepicker' %>
				</div>
			</div>
			
			<div class="mws-form-row">
				<%= f.label :employee_id, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.collection_select :employee_id, Employee.all, :id, :lastname, {}, { :readonly => true, :class => 'mws-select2 small' } %>
				</div>
			</div>
			
		</fieldset>

		<fieldset class="mws-form-inline">
    		<legend><%= t('.calibration') %></legend>
			
			<div class="mws-form-row">
				<%= f.label :calibration_method_id, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.collection_select :calibration_method_id, CalibrationMethod.order("name"), :id, :name, {}, { :readonly => true, :class => 'mws-select2 small' } %>
				</div>
			</div>
			
			<div class="mws-form-row">
				<%= f.label :calibration_result, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.number_field :calibration_result, :class => 'medium' %>
				</div>
			</div>
			
			<div class="mws-form-row">
				<%= f.label :calibration_approved, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.check_box :calibration_approved, { :class => 'ibutton', 'data-label-on' => Maintenance.human_attribute_name('calibration_approved.y'), 'data-label-off' => Maintenance.human_attribute_name('calibration_approved.n') }, "Y", "N" %>
				</div>
			</div>
			
			<% if !@maintenance.calibration_certificate_url.nil? %>
				<div class="mws-form-row">
					<div class="mws-form-item">
						<%= link_to image_tag(@maintenance.calibration_certificate_url(:thumb).to_s, :size => "128x80"), @maintenance.calibration_certificate_url, :target => "_blank" %>
					</div>
				</div>
				<div class="mws-form-row">
					<label class="mws-form-label"><%= t('.delete_calibration_certificate') %></label>
					<div class="mws-form-item">
						<%= f.check_box :remove_calibration_certificate, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
					</div>
				</div>
			<% end %>

			<div class="mws-form-row">
				<%= f.label :calibration_certificate, :class => 'mws-form-label' %>
				<div class="mws-form-item">
					<%= f.file_field :calibration_certificate %>
				</div>
			</div>
			
		</fieldset>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>

