<h1>Listing maintenances</h1>

<table>
  <tr>
    <th>Equipment</th>
    <th>Maintenance type</th>
    <th>Maintenance date</th>
    <th>Employee</th>
    <th>Calibration result</th>
    <th>Calibration approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maintenances.each do |maintenance| %>
  <tr>
    <td><%= maintenance.equipment_id %></td>
    <td><%= maintenance.maintenance_type %></td>
    <td><%= maintenance.maintenance_date %></td>
    <td><%= maintenance.employee_id %></td>
    <td><%= maintenance.calibration_result %></td>
    <td><%= maintenance.calibration_approved %></td>
    <td><%= link_to 'Show', maintenance %></td>
    <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
    <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maintenance', new_maintenance_path %>
