<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Onderhoud</span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-pencil'></i> Wijzigen"), edit_maintenance_path(@maintenance), { :class => "btn" } %>
				<%= link_to raw("<i class='icol-table'></i> Overzicht"), maintenance_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td>Type</td><td><%= maintenance_type_label(@maintenance.maintenance_type) %></td></tr>
								<tr><td>Datum</td><td><%= @maintenance.maintenance_date %></td></tr>
								<tr><td>Uitgevoerd door</td><td><%= @maintenance.employee.fullname unless @maintenance.employee.nil? %></td></tr>
								<tr><td>Kalibratie methode</td><td><%= @maintenance.calibration_method.name unless @maintenance.calibration_method.nil? %></td></tr>
								<tr><td>Kalibratie resultaat</td><td><%= @maintenance.calibration_result %></td></tr>
								<tr><td>Kalibratie oordeel</td><td><%= @maintenance.calibration_approved %></td></tr>
							</tbody>
						</table>
					</div>	
				</td>
			</tr>
		</table>
	</div>
</div>
