<div id="mws-login-wrapper">
		<div id="mws-login">
				<h1><%= Audimax::Application.config.site_name %> Login</h1>
				<div class="mws-login-lock"><i class="icon-lock"></i></div>
				<div id="mws-login-form">
				
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'mws-form' }) do |f| %>
					<div class="mws-form-row">
							<div class="mws-form-item large">
								<%= f.email_field :email, :class => 'mws-login-username required', :placeholder => t('.username') %>
							</div>
					</div>
					<div class="mws-form-row">
							<div class="mws-form-item large">
							  <%= f.password_field :password, :class => "mws-login-password required", :placeholder => t('.password') %>
							</div>
					</div>
					<% if devise_mapping.rememberable? -%>
					<div id="mws-login-remember" class="mws-form-row mws-inset">
							<ul class="mws-form-list inline">
									<li>
										<%= f.check_box :remember_me %>
										<%= f.label :remember_me, t('.remember_me') %>
									</li>
							</ul>
					</div>
					<% end %>

					<div class="mws-form-row">
						<div><%= f.submit t('.login'), :class => "btn btn-success mws-login-button" %></div>
					</div>
				<% end %>

<!--
						<form class="mws-form" action="dashboard.html" method="post">
								<div class="mws-form-row">
										<div class="mws-form-item large">
												<input type="text" name="username" class="mws-login-username required" placeholder="username" />
										</div>
								</div>
								<div class="mws-form-row">
										<div class="mws-form-item large">
												<input type="password" name="password" class="mws-login-password required" placeholder="password" />
										</div>
								</div>
								<div id="mws-login-remember" class="mws-form-row mws-inset">
										<ul class="mws-form-list inline">
												<li>
														<input id="remember" type="checkbox" /> 
														<label for="remember">Remember me</label>
												</li>
										</ul>
								</div>
								<div class="mws-form-row">
										<input type="submit" value="Login" class="btn btn-success mws-login-button" />
								</div>
						</form>
-->
						
				</div>
		</div>
</div>

<!-- <%= render "devise/shared/links" %> -->
