<div id="mws-login-wrapper">
	<div id="mws-login">
		<h1><%= image_tag "tokenizer-logo.png", :alt => "Tokenizer", :style => 'margin-left: auto; margin-right: auto; display: block' %></span></h1>
		<div id="mws-login-form">
			<%= form_tag accounts_users_verify_path(:valid => 1), :method => :get, :remote => true do %>
				<div class="mws-form-row" style="color: #fff">
					<p style="text-align: center">Login wacht op verificatie</p>
				</div>
				<div style="color: #fff; text-align: center">
					<span class="badge">#<%= @token_id %></span>
				</div>
				<div class="mws-form-row" style="color: #fff">
					<p style="text-align: center">Controleer uw smartphone of tablet<br/>en bevestig login</p>
				</div>
				<div class="mws-form-row">
					<%= submit_tag "Verifieer", :class => "btn btn-warning mws-login-button" %>
					<!-- button_to "Verifieer", accounts_users_verify_path(:valid => 1), :method => :get, :remote => true, :class => "btn" -->
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		
		nr_verify_checks = 0;
		
		function verify_done(data) {
			if ( data.state == 'accepted' ) {
				window.location.replace(data.url);
			} else if ( data.state == 'pending' && nr_verify_checks < 10 ) {
				setTimeout(verify, 2000);
			} else {
				//alert('Verification failed! state='+data.state+', url='+data.url)
				window.location.replace(data.url);
			}
		}

		function verify() {
			nr_verify_checks += 1;
			$.ajax({
				url: "/accounts/users/verify",
				dataType: "json",
				success: verify_done
			});
		}
		
		setTimeout(verify, 2000)
	});
</script>