#header {
	margin-top: 10px
}

#logo {
	float: left;
}

#company-info {
	float: right;
	font-size: 8pt; 
	color: #888
}

#title {
	clear: both;
	text-align: center;
	margin-bottom: 20px
}

.title-text {
	font-weight: bold; 
	font-size: 14pt
}

.title-subtext {
	font-weight: bold; 
	font-size: 12pt
}


#accreditation-logo {
	float: right;
}

#chart-totals-per-assessment td {
	border: 0pt;
}

body {
	font-size: 8pt;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.page-header {
	page-break-before: always;
	font-weight: bold; 
	font-size: 12pt;
	text-align: center;
	margin-bottom: 10px;
}

table.report-table {
	border-collapse: collapse;
	/* width: 100%; */
	border: 1pt solid #ccc;
} 

.report-table td {
	vertical-align: top;
	padding: 4px 6px;
	border-bottom: 1pt solid #ddd;
}

.report-table tr {
    page-break-inside: avoid;
}

.report-table th {
	background-color: #35353a;
	color: #fff;
	text-align: left;
	padding: 4px 6px;
	border: 1pt solid #35353a;
}

.report-header-field-name {
	font-weight: bold;
}

.assessment-table {
	/* page-break-before: always; */
}

.section-nr {
	width: 60px;
}

.assessment {
	width: 100px;
}

.am-assessment-cell-success {
	background-color: #d0e9c6;
}

.am-assessment-cell-error {
	background-color: #ebcccc;
}

.am-assessment-cell-warning {
	background-color: #fcd49b;
}

.am-assessment-cell-none {
	background-color: #faf2cc;	
}

/*
 * QR Code
 */

#qrcode {
	margin-top: 20px;
	float: right
}

.qrcode table {
    border-width: 0;
    border-style: none;
	border-collapse: collapse;
}

.qrcode td {
  border-width: 0; 
  border-style: none;
  border-collapse: collapse; 
  padding: 0; 
  margin: 0; 
  width: 2px; 
  height: 2px; 
}

.qrcode td.black { background-color: #000; }
.qrcode td.white { background-color: #fff; }
