<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.edit_error_category') %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-magnifier'></i> Show"), @report_error_category, { :class => "btn" } %>
				<%= link_to raw("<i class='icol-table'></i> Overzicht"), report_error_categories_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= render 'form' %>
	</div>
</div>
