<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ReportErrorCategory.model_name.human(count: 2)%></span>
	</div>
	
	<% if policy(ReportErrorCategory).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_report_error_category_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th style="width: 25%"><%= ReportErrorCategory.human_attribute_name('name') %></th>
					<th><%= ReportErrorCategory.human_attribute_name('description') %></th>
					<th style="width: 10%"><%= ReportErrorCategory.human_attribute_name('requires_assessment') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @report_error_categories.each do |category| %>
				<tr>
					<td><%= category.name %></td>
					<td><%= category.description %></td>
					<td><%= boolean_to_yesno(category.requires_assessment) %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), category, { :class => 'btn btn-small' } %>
							<% if policy(category).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_report_error_category_path(category), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(category).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), category, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
