<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= ReportErrorCategory.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@report_error_category).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_report_error_category_path(@report_error_category), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), report_error_categories_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
  		<table width="100%">
  			<td width="80%" valign="top">
				<h3><%= @report_error_category.name %></h3>
				<div class="am-show-table">
					<table width="80%">
						<tbody>
							<tr>
								<td><%= ReportErrorCategory.human_attribute_name('description') %></td>
								<td>
									<%= @report_error_category.description %>
								</td>
							</tr>
							<tr><td><%= ReportErrorCategory.human_attribute_name('requires_assessment') %></td>
								<td>
									<%= boolean_to_yesno(@report_error_category.requires_assessment) %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>											
			</td>
		</table>
	</div>
</div>
