<%= form_for(@client_user, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @client_user } %>

		<div class="mws-form-row">
			<%= f.label :email, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.email_field :email, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :password, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.password_field :password, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :password_confirmation, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.password_field :password_confirmation, :class => 'medium' %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :client_id, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.collection_select :client_id, Client.all, :id, :name, {:include_blank => true}, { :class => 'mws-select2 small' } %>
			</div>
		</div>
		
		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>