<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= ClientUser.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(ClientUser).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_client_user_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= client_users_url(format: "json") %>" data-sort-column="0" data-sort-direction="asc">
			<thead>
				<tr>
					<th><%= ClientUser.human_attribute_name('email') %></th>
					<th><%= Client.model_name.human %></th>
					<th><%= ClientUser.human_attribute_name('last_sign_in_at') %></th>
					<th class="no-sort"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
