<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= t('.new_client_user') %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), client_users_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= render 'form' %>
	</div>
</div>
