<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= form_title %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), company_url(@accreditation.company_id), { :class => "btn" } %>
			</div>
		</div>
	</div>
	<div class="mws-panel-body no-padding">
		<%= form_for([@company, @accreditation], :html => { :class => 'mws-form', :multipart => true }) do |f| %>
			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @accreditation } %>

				<div class="mws-form-row">
					<%= f.label :scope_id, Scope.model_name.human, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.grouped_collection_select :scope_id, Program.all, :scopes, :name, :id, :name, {:include_blank => true}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :start_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :start_date, :class => 'mws-datepicker' %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :end_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :end_date, :class => 'mws-datepicker' %>
					</div>
				</div>
		
				<% if !@accreditation.image_url.nil? %>
					<div class="mws-form-row">
						<div class="mws-form-item">
							<div id="company_logo">
							<%= image_tag @accreditation.image_url(:thumb).to_s, :class => "img-polaroid"  %><br/>
							</div>
						</div>
					</div>
					<div class="mws-form-row">
						<label class="mws-form-label"><%= t('.delete_logo') %></label>
						<div class="mws-form-item">
							<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
						</div>
					</div>
				<% end %>
		
				<div class="mws-form-row">
					<%= f.label :image, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.file_field :image %>
					</div>
				</div>
				
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
