<%= form_for(@equipment_type, :html => { :class => 'mws-form', :multipart => true }) do |f| %>
	<div class="mws-form-inline">
		<%= render partial: 'shared/errors', locals: { object: @equipment_type } %>
		
		<div class="mws-form-row">
			<%= f.label :name, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :name, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :model, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :model, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :manufacturer, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_field :manufacturer, :class => 'medium' %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :description, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.text_area :description, :class => 'medium' %>
			</div>
		</div>
		
		<% if !@equipment_type.image_url.nil? %>
			<div class="mws-form-row">
				<div class="mws-form-item">
					<%= image_tag @equipment_type.image_url(:thumb).to_s, :class => "img-polaroid"  %>
				</div>
			</div>
			<div class="mws-form-row">
				<label class="mws-form-label"><%= t('form.delete_image') %></label>
				<div class="mws-form-item">
					<%= f.check_box :remove_image, { :class => 'ibutton', 'data-label-on' => t('form.checkbox_yes'), 'data-label-off' => t('form.checkbox_no') }, "1", "0" %>
				</div>
			</div>
		<% end %>

		<div class="mws-form-row">
			<%= f.label :image, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :image %>
			</div>
		</div>

		<div class="mws-form-row">
			<%= f.label :manual, :class => 'mws-form-label' %>
			<div class="mws-form-item">
				<%= f.file_field :manual %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<%= f.label :maintenance_scheme_ids, MaintenanceScheme.model_name.human(count: 2), :class => 'mws-form-label' %>
			<div class="mws-form-item">
			<%= select_tag :maintenance_scheme_ids, options_for_select(MaintenanceScheme.all.collect {|s| [s.name, s.id]}, @equipment_type.maintenance_schemes.collect {|s| s.id}),:multiple => true, :name=>'equipment_type[maintenance_scheme_ids][]', :class => 'pickList small', :size => 15 %>
			</div>
		</div>

		<div class="mws-button-row">
			<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
		</div>
	</div>
<% end %>
