<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= EquipmentType.model_name.human(count: 2) %></span>
	</div>
	
	<% if policy(EquipmentType).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_equipment_type_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= EquipmentType.human_attribute_name('image') %></th>
					<th><%= EquipmentType.human_attribute_name('name') %></th>
					<th><%= EquipmentType.human_attribute_name('type') %></th>
					<th><%= EquipmentType.human_attribute_name('manufacturer') %></th>
					<th><%= EquipmentType.human_attribute_name('description') %></th>
					<th><%= EquipmentType.human_attribute_name('manual') %></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @equipment_types.each do |equipment_type| %>
				<tr>
					<td align="center"><% if !equipment_type.image_url.nil? %><%= link_to image_tag(equipment_type.image_url(:thumb).to_s, :class => 'img-polaroid', :size => "100x60"), equipment_type %><%end %></td>
					<td><%= equipment_type.name %></td>
					<td><%= equipment_type.model %></td>
					<td><%= equipment_type.manufacturer %></td>
					<td><%= equipment_type.description %></td>
					<td align="center"><% if !equipment_type.manual_url.nil? %><%= link_to image_tag(equipment_type.manual_url(:thumb).to_s, :size => "128x80"), equipment_type.manual_url, :target => "_blank" %><%end %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to raw("<i class='icon-search'></i>"), equipment_type, { :class => 'btn btn-small' } %>
							<% if policy(equipment_type).edit? %>
							<%= link_to raw("<i class='icon-pencil'></i>"), edit_equipment_type_path(equipment_type), { :class => 'btn btn-small' } %>
							<% end %>
							<% if policy(equipment_type).destroy? %>
							<%= link_to raw("<i class='icon-trash'></i>"), equipment_type, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small'  %>
							<% end %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
