<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= EquipmentType.model_name.human %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<% if policy(@equipment_type).edit? %>
				<%= link_to raw("<i class='icol-pencil'></i> "+t('form.edit')), edit_equipment_type_path(@equipment_type), { :class => "btn" } %>
				<% end %>
				<%= link_to raw("<i class='icol-table'></i> "+t('form.index')), equipment_types_path, { :class => "btn" } %>
				
			</div>
		</div>
	</div>
	<div class="mws-panel-body">
  		<table width="100%">
  			<td width="80%" valign="top">
				<h3><%= @equipment_type.name %></h3>
				<div class="am-show-table">
					<table width="80%">
						<tbody>
							<tr>
								<td><%= EquipmentType.human_attribute_name('model') %></td><td><%= @equipment_type.model %></td>
							</tr>
							<tr>
								<td><%= EquipmentType.human_attribute_name('manufacturer') %></td><td><%= @equipment_type.manufacturer %></td>
							</tr>
							<tr>
								<td><%= EquipmentType.human_attribute_name('description') %></td><td><%= @equipment_type.description %></td>
							</tr>
							<tr>
								<td><%= EquipmentType.human_attribute_name('manual') %></td><td><% if !@equipment_type.manual_url.nil? %><%= link_to image_tag(@equipment_type.manual_url(:thumb).to_s, :size => "128x80"), @equipment_type.manual_url, :target => "_blank" %><% end %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
			<td valign="top">
				<% if !@equipment_type.image_url.nil? %>
					<%= image_tag @equipment_type.image_url(:thumb).to_s, :class => "img-polaroid"  %>
				<% end %>
			</td>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= MaintenanceScheme.model_name.human(count: 2) %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= MaintenanceScheme.human_attribute_name('name') %></th>
					<th><%= MaintenanceScheme.human_attribute_name('maintenance_type') %></th>
					<th><%= t('.interval_days') %></th>
					<th><%= MaintenanceScheme.human_attribute_name('description')%></th>
				</tr>
			</thead>
			<tbody>
			<% @equipment_type.maintenance_schemes.order('name').each do |scheme| %>
				<tr>
					<td><%= scheme.name %></td>
					<td><%= maintenance_type_label(scheme.maintenance_type) %></td>
					<td><%= scheme.interval %></td>
					<td><%= scheme.description %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
