<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-business-card"></i> <%= t('.contact') %></span>
	</div>
	
	<div class="mws-panel-body">
		<table width="100%">
			<tr>
				<td width="80%" valign="top">
					<h3><%= @company.name %></h3>
					<div class="am-show-table">
						<table width="80%">
							<tbody>
								<tr><td><%= t('.address') %></td>
									<td>
										<%= @company.address %> <br/>
										<%= @company.postalcode %> <%= @company.city %><br/>
										<%= @company.state %><br/>
										<%= @company.country %>
									</td>
								</tr>
								<tr><td><i class="icon-phone"></i></td><td><%= @company.phone %></td></tr>
								<tr><td><i class="icon-print"></i></td><td><%= @company.fax %></td>
								<tr><td><i class="icon-envelope"></i></td><td><%= mail_to @company.email %></td>
								<tr><td><i class="icon-safari"></i></td><td><%= link_to @company.web, @company.web, :target => '_blank'  %></td>
							</tbody>
						</table>
					</div>						
				</td>
				<td valign="top">
					<% if !@company.image_url.nil? %>
						<%= image_tag @company.image_url(:thumb).to_s, :class => "img-polaroid"  %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>

</div>

