<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<!-- Viewport Metatag -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />

	<%= stylesheet_link_tag    "jui/jquery-ui.custom", :media => "all" %>
	<%= stylesheet_link_tag    "jquery.fileupload-ui", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/select2/select2", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/ibutton/jquery.ibutton", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/plupload/jquery.plupload.queue", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/prettyphoto/css/prettyPhoto", :media => "all" %>
	<%= stylesheet_link_tag    "custom-plugins/picklist/picklist", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap/css/bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-select", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/ptsans/stylesheet", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/icomoon/style", :media => "all" %>
	<%= stylesheet_link_tag    "css/mws-style.css", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol16", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol32", :media => "all" %>
	<%= stylesheet_link_tag    "css/mws-theme.css", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "js/core/login" %>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    "css/login", :media => "all" %>
	
	<title><%= Audimax::Application.config.site_name %> Login</title>
</head>
<body>
	<%= yield %>
</body>
</html>
