<%= form_for(@report, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= Report.model_name.human %></span>
		</div>
		<div class="mws-panel-body no-padding">

			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @report } %>

				<div class="mws-form-row">
					<%= f.label :status, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.select :status, report_status_select_options(@report.status), {}, { :class => 'selectpicker' } %>
					</div>
				</div>
				
				<div class="mws-form-row">
					<%= f.label :inspection_object_nr, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :inspection_object_nr, :readonly => true %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :employee_id, t('.inspector'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.collection_select :employee_id, Employee.all, :id, :fullname, {}, { :readonly => true, :class => 'mws-select2 small' } %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :inspection_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :inspection_date, :readonly => true %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :scope_id, Scope.model_name.human, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.grouped_collection_select :scope_id, Program.all, :scopes, :name, :id, :name, {}, { :readonly => true, :class => 'mws-select2 small' } %>
					</div>
				</div>
				
				<div class="mws-form-row">
					<%= f.label :comments, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_area :comments, :class => 'large autosize' %>
					</div>
				</div>
								
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
				
			</div>
		</div>
	</div>

	<div class="mws-panel grid_8 mws-collapsible">
		<div class="mws-panel-header">
			<span><%= ReportItem.model_name.human(count: 2) %></span>
		</div>
		<div class="mws-panel-body no-padding">
			<table class="mws-table">
				<tbody>
					<%= f.fields_for :report_items, @report.report_items.joins(:section).includes(:section).order("seq_nr") do |i| %>
						<tr>
							<td width="100px">
								<%= i.hidden_field :id %>
								<%= i.select :assessment, options_for_select(@assessment_options, i.object.assessment), {}, { 'data-style' => report_assessment_class(i.object.assessment), :class => 'selectpicker' }  %>
							</td>
							<td><%= i.object.section.nr %>
							</td>
							<td>
								<% if !i.object.section.title.blank? %>
									<strong><%= i.object.section.title %></strong>
									<% if !i.object.section.text.blank? %>
										<br/>
									<% end %>
								<% end %>
								<%= i.object.section.text.html_safe %>
								<div class="am-comments">
									<div class="mws-form-item"><%= i.text_area :comments, :class => "large autosize" %></div><br/>
								</div>
								<% if !i.object.section.instruction.blank? %>
									<div class="am-instruction"><div class="am-instruction-inner"><h3 class="am-instruction-title"><%= Section.human_attribute_name('instruction') %></h3><div class="am-instruction-content"><p><%= i.object.section.instruction.html_safe %></p></div></div></div>
								<% end %>
								<br/>
								<table id="attachment-table-<%= i.object.id%>" style="width: 100%">
									<tbody>
										<%= render :partial => 'report_item_attachments/attachment', :collection => i.object.attachments, :as => :attachment %>
									</tbody>
								</table>							
									
							</td>
							<td width="40px">
								<div class="btn-toolbar">
									<div class="btn-group">
										<div class="btn btn-small am-btn-comments"><i class='icon-edit'></i></div>
										<div class="btn btn-small am-btn-attachment" data-url="<%= report_item_report_item_attachments_path(i.object) %>" data-id="<%= i.object.id %>"><i class='icon-attachment'></i></div>
									<% if !i.object.section.instruction.blank? %>
										<div class="btn btn-small am-btn-instruction"><i class='icon-comment-2'></i></div>
									<% end %>
									</div>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
<% end %>
	
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Equipment.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<%= raw("<i class='icol-add'></i> "+t('form.add')) %>
				<span class="caret"></span>
  				</a>
  				<ul class="dropdown-menu">
				<% @report.employee.equipment.where("NOT EXISTS ( SELECT equipment_id FROM report_equipments WHERE report_id = :report_id AND equipment_id = equipment.id)", :report_id => @report.id).each do |equipment| %>
					<li><%= link_to "#{equipment.equipment_type.name}, #{equipment.equipment_type.model}", add_equipment_report_path(@report, :equipment_id => equipment.id), :method => :post %></li>
				<% end %>
  				</ul>
			</div>
		</div>
	</div>	
	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= EquipmentType.human_attribute_name('image') %></th>
					<th><%= EquipmentType.human_attribute_name('name') %></th>
					<th><%= EquipmentType.human_attribute_name('model') %></th>
					<th><%= Equipment.human_attribute_name('nr' ) %></th>
					<th><%= Equipment.human_attribute_name('serial_nr' )%></th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
			<% @report.report_equipments.each do |report_equipment| %>
				<tr>
					<td align="center"><% if !report_equipment.equipment.equipment_type.image_url.nil? %><%= link_to image_tag(report_equipment.equipment.equipment_type.image_url(:thumb).to_s, :class => 'img-polaroid', :size => "100x60"), report_equipment.equipment.equipment_type %><%end %></td>
					<td><%= report_equipment.equipment.equipment_type.name %></td>
					<td><%= report_equipment.equipment.equipment_type.model %></td>
					<td><%= report_equipment.equipment.nr %></td>
					<td><%= report_equipment.equipment.serial_nr %></td>
					<td width="100px">
						<span class="btn-group">
							<%= link_to(raw("<i class='icon-trash'></i>"), report_equipment, method: :delete, data: { confirm: t('form.confirm_delete') }, :class => 'btn btn-small') %>
						</span>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div id="am-dialog-upload-attachments" style="padding: 0 0; display: none">
	<div id="uploader" data-url="bogus-url">
		<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
        if( $.fn.dialog ) {
            $("#am-dialog-upload-attachments").dialog({
                autoOpen: false,
                title: "<%= t('.upload_attachments') %>",
                modal: true,
                width: "640",
                buttons: [{
                    text: "<%= t('form.cancel') %>",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
            $(".am-btn-attachment").bind("click", function (event) {
			    $('#uploader').pluploadQueue().settings.url = $(this).data('url')
				var report_item_id = $(this).data('id')
				$('#uploader').pluploadQueue().bind('FileUploaded', function(up, file, info) {
					$("#attachment-table-"+report_item_id+" tbody").append(info['response']);
					$('.delete-attachment').bind('ajax:success', function() {
						$(this).closest('tr').remove();  
					});
					$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
					$(".best_in_place").best_in_place();
				})
				
                $("#am-dialog-upload-attachments").dialog("option", {
                    modal: false
                }).dialog("open");
                event.preventDefault();
            });
		};
		
		$('.delete-attachment').bind('ajax:success', function() { 
    		$(this).closest('tr').remove();  
		});
		
		$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
		
        if( $.fn.pluploadQueue ) {

			plupload.addI18n({
			   'Select files' : I18n.t('js.plupload.select_files'),
			   'Add files to the upload queue and click the start button.' : I18n.t('js.plupload.add_files_to_upload_queue'),
			   'Filename' : I18n.t('js.plupload.filename'),
			   'Status' : I18n.t('js.plupload.status'),
			   'Size' : I18n.t('js.plupload.size'),
			   'Add files' : I18n.t('js.plupload.add_files'),
			   'Stop current upload' : I18n.t('js.plupload.stop_upload'),
			   'Start uploading queue' : I18n.t('js.plupload.start_upload'),
			   'Uploaded %d/%d files': I18n.t('js.plupload.upload_files'),
			   'N/A' : I18n.t('js.plupload.not_available'),
			   'Drag files here.' : I18n.t('js.plupload.drag_files_here'),
			   'File extension error.': I18n.t('js.plupload.file_extension_error'),
			   'File size error.': I18n.t('js.plupload.file_size_error'),
			   'Init error.': I18n.t('js.plupload.init_error'),
			   'HTTP Error.': I18n.t('js.plupload.http_error'),
			   'Security error.': I18n.t('js.plupload.security_error'),
			   'Generic error.': I18n.t('js.plupload.generic_error'),
			   'IO error.': I18n.t('js.plupload.io_error')
			});

            $("#uploader").pluploadQueue({
                // General settings
                runtimes: 'html5, html4',
                url: '',
                max_file_size: '1000mb',
                max_file_count: 20, // user can add no more then 20 files at a time
                chunk_size: '1mb',
                unique_names: true,
                multiple_queues: true,
                multipart: true,
                multipart_params: {
         			"authenticity_token" : '<%= form_authenticity_token %>'
        		},

                // Resize images on clientside if we can
                resize: {
                    width: 320,
                    height: 240,
                    quality: 90
                },

                // Rename files by clicking on their titles
                rename: true,

                // Sort files
                sortable: true,

                // Specify what files to browse for
                filters: [{
                    title: "Afbeeldingen",
                    extensions: "jpg,gif,png,pdf,docx"
                },{
                    title: "Alle typen",
                    extensions: "*"
                }],

                init: {
                	FileUploaded: function(up, file, info) {

					}
            	}
            });

        }
		
	});
</script>

