<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Report.model_name.human(count: 2) %></span>
	</div>

	<% if policy(Report).new? %>
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<%= link_to raw("<i class='icol-add'></i> "+t('form.add')), new_report_path, { :class => "btn" } %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="mws-panel-body">
		<%= form_tag reports_path, :method => 'get' do %>
			<%= text_field_tag :id, params[:id], :placeholder => Report.human_attribute_name('id') %>
			<%= text_field_tag :object_nr, params[:object_nr], { :class => 'mws-select-ajax', :style => "width: 400px", :data  => { :source => inspection_objects_url(format: "json"), :placeholder => t('.all_objects') } } %>
			<%= select_tag :employee_id, options_from_collection_for_select(Employee.order("lastname"), "id", "fullname", params[:employee_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_inspectors') }  %>
			<%= select_tag :client_id, options_from_collection_for_select(Client.order("name"), "id", "name", params[:client_id]), :include_blank => true, :class => "mws-select2", :style => "width: 200px", :data => { :placeholder => t('.all_clients') }  %>
			<%= button_tag t('form.reset'), :name => nil, :type => "button", :class => 'btn clear-form'%>
			<%= submit_tag t('form.search'), :name => nil, :class => 'btn btn-inverse'%>
		<% end %>
	</div>

	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable" data-source="<%= reports_url(format: "json", id: params[:id], object_nr: params[:object_nr], employee_id: params[:employee_id], client_id: params[:client_id]) %>" data-sort-column="4" data-sort-direction="desc">
			<thead>
				<tr>
					<th style="width: 60px">ID</th>
					<th><%= Report.human_attribute_name('status') %></th>
					<th><%= InspectionObject.model_name.human %></th>
					<th><%= Client.model_name.human %></th>
					<th><%= Report.human_attribute_name('inspection_date') %></th>
					<th><%= Program.model_name.human %></th>
					<th><%= Scope.model_name.human %></th>
					<th><%= t('.inspector') %></th>
					<th class="no-sort" width="40px"></th>
					<th class="no-sort" width="150px"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>


