<%= form_for(@report, :html => { :class => 'mws-form' }) do |f| %>
	<div class="mws-panel grid_8">
		<div class="mws-panel-header">
			<span><%= t('.new_report') %></span>
		</div>
		<div class="mws-panel-body no-padding">

			<div class="mws-form-inline">
				<%= render partial: 'shared/errors', locals: { object: @report } %>
				
				<div class="mws-form-row">
					<%= f.label :inspection_object_nr, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :inspection_object_nr, { :class => 'mws-select-ajax small', :data  => { :source => inspection_objects_url(format: "json"), :placeholder => t('.select_object') } } %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :employee_id, t('.inspector'), :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.collection_select :employee_id, Employee.order(:lastname), :id, :fullname, {:include_blank => true}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :inspection_date, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.text_field :inspection_date, :class => 'mws-datepicker' %>
					</div>
				</div>
		
				<div class="mws-form-row">
					<%= f.label :scope_id, :class => 'mws-form-label' %>
					<div class="mws-form-item">
						<%= f.grouped_collection_select :scope_id, Program.all, :scopes, :name, :id, :name, {:include_blank => true}, { :class => 'mws-select2 small' } %>
					</div>
				</div>
		
				<div class="mws-button-row">
					<%= f.submit t('form.save'), :class => 'btn btn-danger' %>
				</div>
				
			</div>
		</div>
	</div>

<% end %>
