<div id="header">
	<div id="logo">
		<img id="company-logo1" src="<%= Rails.root.join("public", @report.employee.company.image_url.slice!(1..-1)) %>" height="60" alt="company">
	</div>
</div>

<div id="company-info">
	<%= @report.employee.company.name %><br/>
	<%= @report.employee.company.address %><br/>
	<%= @report.employee.company.postalcode %> <%= @report.employee.company.city %><br/>
	<%= @report.employee.company.phone %><br/>
	<%= @report.employee.company.email %>
</div>

<div id="title">
	<span class="title-text">
		<%= @report.scope.program.name %>
	</span>
	<br/>
	<span class="title-subtext">
		<%= @report.scope.name %><br/>
	</span>
</div>

<table class="report-table" style="width:100%">
	<colgroup>
		<col style="width: 160px"/>
		<col/>
	</colgroup>
	<thead>
		<tr>
			<th colspan="2" class="title"><%= Report.model_name.human %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="report-header-field-name"><%= Report.human_attribute_name('id')%></td><td><%= @report.id %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= Report.human_attribute_name('status') %></td><td><%= report_status_label(@report.status) %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= Report.human_attribute_name('inspection_date')%></td><td><%= l @report.inspection_date %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= Scope.human_attribute_name('program_id')%></td><td><%= @report.scope.program.name %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= Scope.model_name.human %></td>
			<td>
				<%= @report.scope.name %>
				<% if !@report.accreditation_logo.blank? %>
					<img id="accreditation-logo" src="<%= Rails.root.join("public", @report.accreditation_logo.slice!(1..-1)) %>" height="50" alt="accreditation">
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= t('.inspector') %></td><td><%= @report.employee.fullname %></td>
		</tr>
	</tbody>
</table>
<br/>

<div style="vertical-align: top;">
<table class="report-table" style="width: 49%; display: inline-table; vertical-align: top">
	<thead>
		<tr>
			<th colspan="2" class="title"><%= InspectionObject.model_name.human %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('nr')%></td>
			<td><%= @report.inspection_object.nr %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('name')%></td>
			<td><%= @report.inspection_object.name %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('address')%></td>
			<td>
				<%= @report.inspection_object.address %> <br/>
				<%= @report.inspection_object.postalcode %> <%= @report.inspection_object.city %><br/>
				<%= @report.inspection_object.state %><br/>
				<%= country_name(@report.inspection_object.country) %>
			</td>
		</tr>
	</tbody>
</table>
<table class="report-table" style="width: 49%; display: inline-table; margin-left: 11px">
	<thead>
		<tr>
			<th colspan="2" class="title"><%= Client.model_name.human %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="report-header-field-name"><%= Client.human_attribute_name('name')%></td>
			<td><%= @report.inspection_object.client.name %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= Client.human_attribute_name('address')%></td>
			<td>
				<%= @report.inspection_object.client.address %> <br/>
				<%= @report.inspection_object.client.postcode %> <%= @report.inspection_object.client.city %><br/>
				<%= @report.inspection_object.client.state %><br/>
				<%= country_name(@report.inspection_object.client.country) %>
			</td>
		</tr>
		<tr><td class="report-header-field-name"><%= Client.human_attribute_name('phone') %></td><td><%= @report.inspection_object.client.phone %></td></tr>
		<tr><td class="report-header-field-name"><%= Client.human_attribute_name('email') %></td><td><%= @report.inspection_object.client.email %></td><tr>
	</tbody>
</table>
</div>

<br/>

<table class="report-table" style="width: 100%; display: inline-table">
	<thead>
		<tr>
			<th colspan="2"><%= t('.summary') %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="50%">
				<div id="chart-totals-per-assessment" style="width:200px; height:200px;"></div>
			</td>
			<td>
				<%= @report.comments %>
			</td>
		</tr>
	</tbody>
</table>
<br/>

<div id="qrcode" class="qrcode">
<table>
<% @qr.modules.each_index do |x| %>
	<tr>  
		<% @qr.modules.each_index do |y| %>
			<% if @qr.dark?(x,y) %>
				<td class="black"/>
			<% else %>
				<td class="white"/>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>
</div>
<br/>

<div class="page-header"><%= InspectionObject.model_name.human %></div>
<table class="report-table" style="width: 100%;">
	<thead>
		<tr>
			<th colspan="2" class="title"><%= InspectionObject.model_name.human %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('nr') %></td>
			<td><%= @report.inspection_object.nr %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('name') %></td>
			<td><%= @report.inspection_object.name %></td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('address')%></td>
			<td>
				<%= @report.inspection_object.address %> <br/>
				<%= @report.inspection_object.postalcode %> <%= @report.inspection_object.city %><br/>
				<%= @report.inspection_object.state %><br/>
				<%= country_name(@report.inspection_object.country) %>
			</td>
		</tr>
		<tr>
			<td class="report-header-field-name"><%= InspectionObject.human_attribute_name('description') %></td>
			<td><%= @report.inspection_object.description.html_safe unless @report.inspection_object.description.nil? %></td>
		</tr>
		<% @report.inspection_object.object_parameters.order(:name).each do |parameter| %>
		<tr>
			<td class="report-header-field-name"><%= parameter.name %></td>
			<td><%= parameter.value %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<div class="page-header"><%= ReportItem.model_name.human(count: 2) %></div>
<table class="report-table assessment-table">
	<thead>
		<tr>
			<th><%= Section.human_attribute_name('nr') %></th>
			<th><%= ReportItem.human_attribute_name('assessment') %></th>
			<th><%= Section.human_attribute_name('text') %></th>
		</tr>
	</thead>
	<tbody>
		<% @report.report_items.joins(:section).order("seq_nr").includes(:section).each do |item| %>
			<tr>
				<td class="section-nr">
					<%= item.section.nr %>
				</td>
				<td class="assessment <%= report_assessment_cell_class(item.assessment) %>">
					<%= @assessment_names[item.assessment] %>
				</td>
				<td>
					<% if !item.section.title.blank? %>
						<strong><%= item.section.title %></strong>
						<% if !item.section.text.blank? %>
							<br/>
						<% end %>
					<% end %>
					<%= item.section.text.html_safe %>
					<% if !item.comments.blank? %>
						<p><span><%= ReportItem.human_attribute_name('comments') %></span><%= item.comments %></p>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br/>

<div class="page-header"><%= Equipment.model_name.human(count: 2) %></div>
<table class="report-table" style="width: 100%">
	<thead>
		<tr>
			<th><%= EquipmentType.human_attribute_name('name') %></th>
			<th><%= EquipmentType.human_attribute_name('model') %></th>
			<th><%= Equipment.human_attribute_name('nr') %></th>
			<th><%= Equipment.human_attribute_name('serial_nr') %></th>		
		</tr>
	</thead>
	<tbody>
	<% @report.equipment.each do |equipment| %>
		<tr>
			<td><%= equipment.equipment_type.name %></td>
			<td><%= equipment.equipment_type.model %></td>
			<td><%= equipment.nr %></td>
			<td><%= equipment.serial_nr %></td>
		</tr>
	<% end %>
	</tbody>	
</table>
<br/>

<script type="text/javascript" charset="utf-8">

	$(function() {
		
		
		if ($.plot) {
			
			var totals_per_assessment = [
			
			<% @report.report_items.select("assessment, count(*) total").group("assessment").order("case assessment when 'COM' then 1 when 'NC1' then 2 when 'NC2' then 3 when 'NA' then 4 else 5 end").each do |assessment| %>
				{ label: "<%= @assessment_names[assessment.assessment] %>" , color: "<%= report_assessment_chart_color(assessment.assessment) %>", data: [[0, <%= assessment.total %>]]},
			<% end %>
			
			];
			
            var plot = $.plot($("#chart-totals-per-assessment"),
            	totals_per_assessment, {
                bars: {
                    show: true, 
                    barWidth: 1, 
                    order: 1
                },
			    xaxis: {
					min: -2,
					max: 2,
			        ticks: [[0, "<%= t('.nr_per_assessment') %>"]]
			    },
				yaxis: {
					min: 0,
					tickDecimals: 0
				},
                legend: {
                    show: true,
					margin: [-140, 0]
                }
            });
			
		}
				
	});

</script>
