<div class="mws-panel grid_5">
	<div class="mws-panel-header">
		<span><%= Report.model_name.human %></span>
	</div>
	
	<div class="mws-panel-body no-padding">
		<ul class="mws-summary clearfix">
			<li>
				<span class="key"><%= Report.human_attribute_name('id') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @report.id %></span>
					<div style="float: right"><%= link_to raw("<i class='icon-file-pdf'></i>"), report_path(@report, :format => :pdf), { :target => "_blank", :class => 'btn btn-small' } %></div>
				</span>
			</li>
			<li>
				<span class="key"><%= Report.human_attribute_name('status') %></span>
				<span class="val">
					<span class="text-nowrap"><%= report_status_label(@report.status) %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Report.human_attribute_name('inspection_object_nr')%></span>
				<span class="val">
					<span class="text-nowrap"><%= link_to @report.inspection_object_nr, @object_path %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Report.human_attribute_name('inspection_date') %></span>
				<span class="val">
					<span class="text-nowrap"><%= @report.inspection_date %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Program.model_name.human %></span>
				<span class="val">
					<span class="text-nowrap"><%= @report.scope.program.name %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Scope.model_name.human %></span>
				<span class="val">
					<span class="text-nowrap"><%= @report.scope.name %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= t('.inspector') %></span>
				<span class="val">
					<span class="text-nowrap"><%= current_client_user ? @report.employee.fullname : (link_to @report.employee.fullname, @report.employee) %></span>
				</span>
			</li>
			<li>
				<span class="key"><%= Report.human_attribute_name('notes') %></span>
				<span class="val">
					<div>
						<% if !@report.accreditation_logo.blank? %>
							<%= image_tag @report.accreditation_logo, :style => "float: right; margin: 0px 10px 0px 0px;", :size => "80x48" %>
						<% end %>
						<%= @report.comments %>
						<br style="clear: both;" />
					<div>
				</span>
			</li>
		</ul>
	</div>
</div>

<div class="mws-panel grid_3">
	<div class="mws-panel-header">
		<span><%= t('.nr_per_assessment') %></span>
	</div>
    <div class="mws-panel-body">
    	<div class="mws-panel-content">
    		<div id="chart-totals-per-assessment" style="width:100%; height:300px; "></div>
    	</div>
    </div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><%= ReportItem.model_name.human(count: 2) %></span>
	</div>
	
	<div class="mws-panel-toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<%= @assessment_selection %>
				<span class="caret"></span>
  				</a>
  				<ul class="dropdown-menu">
  					<li><%= link_to t('.all_assessments'), report_path(@report) %></li>
					<% @assessment_names.each do |a| %>
						<li><%= link_to a[1], report_path(@report, :assessment => a[0]) %></li>
					<% end %>
  				</ul>
			</div>
		</div>
	</div>	
	
	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<tbody>
				<% @report_items.each do |item| %>
					<tr>
						<td width="80px"><%= item.section.nr %></td>
						<td width="140px" class="<%= report_assessment_cell_class(item.assessment) %>">
							<%= @assessment_names[item.assessment] %>
						</td>
						<td>
							<% if !item.section.title.blank? %>
								<strong><%= item.section.title %></strong>
								<% if !item.section.text.blank? %>
									<br/>
								<% end %>
							<% end %>
							<%= item.section.text.html_safe %>
							<% if !item.comments.blank? %>
								<p class="am-comments-text"><span class="label label-inverse"><%= ReportItem.human_attribute_name('comments')%></span> <%= item.comments %></p>
							<% end %>
							<% if !item.section.instruction.blank? %>
								<div class="am-instruction"><div class="am-instruction-inner"><h3 class="am-instruction-title"><%= Section.human_attribute_name('instruction')%></h3><div class="am-instruction-content"><p><%= item.section.instruction.html_safe %></p></div></div></div>
							<% end %>
							<table>
								<tbody>
								<% item.attachments.each do |attachment| %>
									<tr>
										<td class="center"><%= link_to_attachment attachment %></td>
										<td><%= File.basename attachment.attachment_url %></td>
										<td><%= attachment.description %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
						</td>
						<td width="40px">
							<% if !item.section.instruction.blank? %>
								<div class="btn btn-small am-btn-instruction"><i class='icon-comment-2'></i></div>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> <%= Equipment.model_name.human(count: 2) %></span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table">
			<thead>
				<tr>
					<th><%= EquipmentType.human_attribute_name('image') %></th>
					<th><%= EquipmentType.human_attribute_name('name') %></th>
					<th><%= EquipmentType.human_attribute_name('model')%></th>
					<th><%= Equipment.human_attribute_name('nr')%></th>
					<th><%= Equipment.human_attribute_name('serial_nr') %></th>
				</tr>
			</thead>
			<tbody>
			<% @report.equipment.each do |equipment| %>
				<tr>
					<td align="center"><% if !equipment.equipment_type.image_url.nil? %><%= link_to image_tag(equipment.equipment_type.image_url(:thumb).to_s, :class => 'img-polaroid', :size => "100x60"), equipment.equipment_type %><%end %></td>
					<td><%= equipment.equipment_type.name %></td>
					<td><%= equipment.equipment_type.model %></td>
					<td><%= equipment.nr %></td>
					<td><%= equipment.serial_nr %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript" charset="utf-8">

	$(function() {
		$.fn.prettyPhoto && $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
		
		if ($.plot) {
			var totals_per_assessment = [
			
			<% @report.report_items.select("assessment, count(*) total").group("assessment").order("case assessment when 'COM' then 1 when 'NC1' then 2 when 'NC2' then 3 when 'NA' then 4 else 5 end").each do |assessment| %>
				{ label: "<%= @assessment_names[assessment.assessment] %>", color: "<%= report_assessment_chart_color(assessment.assessment) %>", data: [[0, <%= assessment.total %>]]},
			<% end %>
			
			];

            $.plot($("#chart-totals-per-assessment"),
            	totals_per_assessment, {
                bars: {
                    show: true, 
                    barWidth: 1, 
                    order: 1
                },
			    xaxis: {
					min: -5,
					max: 5,
			        ticks: [[0, "<%= t('.nr_per_assessment')%>" ]]
			    },
				yaxis: {
					min: 0,
					tickDecimals: 0
				},
                legend: {
                    show: true
                }
            });
			
		}
		
	});

</script>
