<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<title><%= Audimax::Application.config.site_name %></title>
	<%= stylesheet_link_tag    "jui/jquery-ui.custom", :media => "all" %>
	<%= stylesheet_link_tag    "jquery.fileupload-ui", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/select2/select2", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/ibutton/jquery.ibutton", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/plupload/jquery.plupload.queue", :media => "all" %>
	<%= stylesheet_link_tag    "plugins/prettyphoto/css/prettyPhoto", :media => "all" %>
	<%= stylesheet_link_tag    "custom-plugins/picklist/picklist", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap/css/bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-select", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/ptsans/stylesheet", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/icomoon/style", :media => "all" %>
	<%= stylesheet_link_tag    "css/mws-style.css", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol16", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol32", :media => "all" %>
	
	<!-- jQuery-UI Stylesheet -->
	<%= stylesheet_link_tag		"jui/css/jquery.ui.all", :media => "all" %>
	<%= stylesheet_link_tag		"jui/css/jquery.ui.timepicker", :media => "all" %>
	<%= stylesheet_link_tag		"jui/jquery-ui.custom", :media => "all" %>
	<!-- end -->
	
	<%= stylesheet_link_tag    "css/mws-theme.css", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	
	<%= javascript_include_tag "application" %>
	
	<script type="text/javascript">
		I18n.defaultLocale = "<%= I18n.default_locale %>";
		I18n.locale = "<%= I18n.locale %>";
	</script>
	
	<%= csrf_meta_tags %>

	<!-- Viewport Metatag -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>

<body>
	<!-- Header -->
	<div id="mws-header" class="clearfix">
		<!-- Logo Container -->
		<div id="mws-logo-container">
			<!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
			<div id="mws-logo-wrap">
				<%= image_tag "mws-logo.png", :alt => "Audimax" %>
			</div>
		</div>
        
		<!-- User Tools (notifications, logout, profile, change password) -->
		<div id="mws-user-tools" class="clearfix">


			<!-- Notifications -->
			<div id="mws-user-notif" class="mws-dropdown-menu">
				<a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-exclamation-sign"></i></a>
            
				<!-- Unread notification count -->
				<% if current_user.notifications.visible.where(:read => false).count > 0 %>
				<span class="mws-dropdown-notif"><%= current_user.notifications.visible.where(:read => false).count %></span>
				<% end %>
            
				<!-- Notifications dropdown -->
				<div class="mws-dropdown-box">
					<div class="mws-dropdown-content">
						<ul class="mws-notifications">
							<% current_user.notifications.visible.order('id desc').limit(5).each do |n| %>
							<li class=<%= n.read ? "read" : "unread" %>>
								<a href="#">
									<span class="message">
										<%= n.message %>
									</span>
									<span class="time">
										<%= n.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
									</span>
								</a>
							</li>						
							<% end %>
						</ul>
						<div class="mws-dropdown-viewall">
							<%= link_to t('.show_all_messages'), notifications_path %>
						</div>
					</div>
				</div>
				
			</div>
            
			<!-- User Information and functions section -->
			<div id="mws-user-info" class="mws-inset">        
				<!-- User Photo -->
				<div id="mws-user-photo">
					<%= image_tag (current_user.image_url.nil? ? 'profile.jpg' : current_user.image_url(:thumb).to_s) %>
				</div>          
				<!-- Username and Functions -->
				<div id="mws-user-functions">
					<div id="mws-username">
						<%= current_user.email %>
					</div>
					<ul>
						<li><%= link_to(t('.profile'), edit_user_registration_path) %></li>
						<li><%= link_to(t('.logout'), destroy_user_session_path, :method => :delete) %></li>
					</ul>
				</div>
			</div>
	
		</div>
	</div>
	<!-- Header End -->
    
	<!-- Start Main Wrapper -->
	<div id="mws-wrapper">
    
		<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
		<!-- Sidebar Wrapper -->
		<div id="mws-sidebar">
   		<!-- Hidden Nav Collapse Button -->
			<div id="mws-nav-collapse">
					<span></span>
					<span></span>
					<span></span>
			</div>
            
			<!-- Main Navigation -->
			<div id="mws-navigation">
				<ul>
					<li <%= current_page?(root_path)? 'class=active':nil %>><%= link_to raw("<i class='icon-stats'></i>"+t('.dashboard')), root_path %></li>
					<li <%= 'class=active' if current_section?(:company) %> >
						<a href="#"><i class='icon-legal'></i><%= t('.company') %></a>
						<ul <%= 'class=closed' if !current_section?(:company) %>>
							<li><%= link_to t('.companies'), companies_path %></li>
							<li><%= link_to t('.positions'), positions_path %></li>
						</ul>
					</li>
					<li <%= 'class=active' if current_section?(:assets) %> >
						<a href="#"><i class='icon-users'></i><%= t('.resources') %></a>
						<ul <%= 'class=closed' if !current_section?(:assets) %> >
							<li><%= link_to t('.employees'), employees_path %></li>
							<li><%= link_to t('.equipment'), equipment_index_path %></li>
							<li><%= link_to t('.equipment_types'), equipment_types_path %></li>
							<li><%= link_to t('.maintenance_schemes'), maintenance_schemes_path %></li>
							<li><%= link_to t('.calibration_methods'), calibration_methods_path %></li>
						</ul>
					</li>
					<li <%= 'class=active' if current_section?(:clients) %> >
						<a href="#"><i class='icon-official'></i><%= t('.clients') %></a>
						<ul <%= 'class=closed' if !current_section?(:clients) %> >
							<li><%= link_to t('.clients'), clients_path %></li>
						</ul>							
					</li>
					<li <%= 'class=active' if current_section?(:inspection) %>>
						<a href="#"><i class='icon-list-2'></i><%= t('.inspection') %></a>
						<ul <%= 'class=closed' if !current_section?(:inspection) %> >
							<li><%= link_to t('.programs'), programs_path %></li>
							<li><%= link_to t('.objects'), inspection_objects_path %></li>
							<li><%= link_to t('.reports'), reports_path %></li>
							<li><%= link_to t('.reviews'), report_reviews_path(:reviewer_id => current_user.employee_id) %></li>
							<li><%= link_to t('.error_categories'), report_error_categories_path %></li>
						</ul>
					</li>
					<li <%= 'class=active' if current_section?(:management) %>>
						<a href="#"><i class='icon-stats-up'></i><%= t('.management') %></a>
						<ul <%= 'class=closed' if !current_section?(:management) %> >
							<li><%= link_to t('.report_errors'), management_report_errors_path %></li>
							<li><%= link_to t('.complaints'), management_complaints_path %></li>
						</ul>
					</li>
					<li <%= 'class=active' if current_section?(:complaints) %>>
						<a href="#"><i class='icon-lightning-3'></i><%= t('.complaints') %></a>
						<ul <%= 'class=closed' if !current_section?(:complaints) %> >
							<li><%= link_to t('.complaints'), complaints_path(:assigned_to_id => current_user.employee_id) %></li>
						</ul>
					</li>
					<li <%= 'class=active' if current_section?(:system) %> >
						<a href="#"><i class='icon-monitor'></i><%= t('.application_management') %></a>
						<ul <%= 'class=closed' if !current_section?(:system) %> >
							<li><%= link_to t('.users'), users_path %></li>
							<li><%= link_to t('.client_users'), client_users_path %></li>
							<% if current_user.admin? %>
							<li><%= link_to t('.about_audimax'), about_path %></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>	
    	</div>
        
		<!-- Main Container Start -->
		<div id="mws-container" class="clearfix">

			<!-- Inner Container Start -->
			<div class="container">
				<% if flash[:alert] %>
					<div class="mws-form-message error">
						<%= flash[:alert] %>
					</div>
				<% end %>
				<% if notice %>
					<div class="mws-form-message success">
						<%= notice %>
					</div>
				<% end %>
				<%= yield %>
			</div>
                       
		</div>
    	<!-- Main Container End -->

		<!-- Footer -->
		<div id="mws-footer">
			&copy; Copyright 2015 Twinsparc B.V.
		</div>


	</div>

	
	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/libs/excanvas.min.js"></script>    
	<![endif]-->

	<%= yield :javascript_includes %>

</body>
</html>
