<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<title><%= Audimax::Application.config.site_name %> Client Portal</title>
	<%= stylesheet_link_tag    "bootstrap/css/bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/ptsans/stylesheet", :media => "all" %>
	<%= stylesheet_link_tag    "css/fonts/icomoon/style", :media => "all" %>
	<%= stylesheet_link_tag    "css/mws-style.css", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol16", :media => "all" %>
	<%= stylesheet_link_tag    "css/icons/icol32", :media => "all" %>
	<%= stylesheet_link_tag    "css/mws-theme.css", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>

	<!-- Viewport Metatag -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>

<body>  
	<!-- Header -->
	<div id="mws-header" class="clearfix">
		<!-- Logo Container -->
		<div id="mws-logo-container">
			<!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
			<div id="mws-logo-wrap">
				<%= image_tag "mws-logo.png", :alt => "Customax" %>
			</div>
		</div>
		
		<!-- User Tools (notifications, logout, profile, change password) -->
		<div id="mws-user-tools" class="clearfix">
			<!-- User Information and functions section -->
			<div id="mws-user-info" class="mws-inset">        
				<!-- Username and Functions -->
				<div id="mws-user-functions">
					<div id="mws-username">
						<%= current_client_user.email %>
					</div>
					<ul>
						<li><%= link_to(t('.profile'), edit_client_user_registration_path) %></li>
						<li><%= link_to(t('.logout'), destroy_client_user_session_path, :method => :delete) %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->
    
	<!-- Start Main Wrapper -->
	<div id="mws-wrapper">
    
		<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
		<!-- Sidebar Wrapper -->
		<div id="mws-sidebar">
   			<!-- Hidden Nav Collapse Button -->
			<div id="mws-nav-collapse">
					<span></span>
					<span></span>
					<span></span>
			</div>
            
			<!-- Main Navigation -->
			<div id="mws-navigation">
				<ul>
					<li <%= current_page?(client_root_path)? 'class=active':nil %>><%= link_to raw("<i class='icon-stats'></i>"+t('.dashboard')), client_root_path %></li>
					<li><%= link_to raw("<i class='icon-barcode'></i>"+t('.objects')), client_objects_path %></li>
					<li><%= link_to raw("<i class='icon-business-card'></i>"+t('.contact')), client_contact_path %></li>
				</ul>
			</div>	
    	</div>
        
    	<!-- Main Container Start -->
    	<div id="mws-container" class="clearfix">

			<!-- Inner Container Start -->
			<div class="container">
				<%= yield %>
			</div>
                       
			<!-- Footer -->
			<div id="mws-footer">&copy; Copyright 2015 Twinsparc B.V.</div>

		</div>
    	<!-- Main Container End -->

	</div>
	
	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/libs/excanvas.min.js"></script>    
	<![endif]-->

	<%= yield :javascript_includes %>

</body>
</html>
