<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
	<%= wicked_pdf_javascript_include_tag "jquery" %>
	<%= wicked_pdf_javascript_include_tag "plugins/flot/jquery.flot" %>
	<%= wicked_pdf_javascript_include_tag "plugins/flot/jquery.flot.orderBars" %>
</head>
<body>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
